#search_section1 > div{
    padding-top: 181px;
    padding-bottom: 105px;
    display: flex;
    justify-content: space-between;
}

#box{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background: rgb(182, 11, 182);
    margin-bottom: 36px;
}

#filter{
    width: 265px;
    background: #f2f2f2;
    box-sizing: border-box;
    padding-bottom: 10px;
    border-radius: 0 0 10px 10px;
}

.margin_filter{
    padding:0 18px;
}

.gap{
    margin-bottom: 40px;
}

#filter h5{
    color:#1b1b1b;
    font-weight: 500;
}

#filter > div:first-child{
    height: 27px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 20px;
    background: #748fe0;
    border-radius: 10px 10px 0 0;
    color: white;
    
    
}

#filter ul{
    list-style: none;
}

#price_input > div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#price_input h5{
    font-size: 15px;
}

#price_input > div:nth-child(2){
    width: 74.9%;
    display: flex;
    margin: 15px 0 25px 0;
    justify-content: space-between;
}

#price_input > div label{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 13px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::selection{
    color: #fff;
    background: #17A2B8;
  }

#price_input > div label input{
    width: 51px;
    margin-top: 7px;
    text-align: center;
    padding: 3px 4px;
    box-sizing: border-box;
    border: none;
    outline-color: var(--scale-2-blue);
    border-radius: 5px;
    box-shadow: 0px 2px 6px 1px rgb(1 1 1 / 10%);
}

.slider{
    height: 7px;
    position: relative;
    background-color: rgba(30, 152, 215, 0.26);
    border-radius: 5px;
  }

  .slider .progress{
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background-color: #1e98d7;
  }

  .range-input{
    position: relative;
  }

  .range-input input{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 5px;
    top: -7px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  input[type="range"]::-webkit-slider-thumb{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #fff;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
    cursor: pointer;
  }

  input[type="range"]::-moz-range-thumb{
    height: 18px;
    width: 18px;
    border: none;
    border-radius: 50%;
    background: #fff;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
  }

  #amount-people{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #amount-people h5{
    font-size: 15px;
  }

  .specification{
    display: flex;
    align-items: center;
  }

  .specification button{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
  }
  
  .specification button img{
    width: 14px;
  }
  
  .specification input[type="number"]{
    text-align: center;
    width: 24px;
    font-size: 15px;
    border: none;
    padding: 0;
  }

  .specifications{
    margin-bottom: 13.6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul .specifications:first-child{
    margin-top: 15px;
  }

  ul .specifications:last-child{
    margin-bottom: 15px;
  }

  .specifications > div:first-child{
      width: 36px;
      height: 30px;
      display: flex;
      justify-content: center;
      box-shadow: 0px 2px 6px 1px rgb(1 1 1 / 10%);
      align-items: center;
      box-sizing: border-box;
      border-radius: 6px;
      background: #fff;
  }

  .specifications label{
    margin-left: 10px;
    font-size: 14px;
    margin-right: auto;
  }