<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="style/default/default.css">
    <link rel="stylesheet" href="style/register-space/apresentation.css">
    <script src="https://kit.fontawesome.com/e4e1096c30.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="header" class="container_margin_default">
        <div class="default_margin">
            <a href="/"> <img src="images/default/logo.svg" alt="logo"> </a>
            <div>
                <ul id="type_office">
                    <li class="option_office checked">Espaço adaptado</li>
                    <li class="option_office">Espaço corporativo</li>
                </ul>
                    <div class="container_search">
                        <span id="search_txt">Busque locais para trabalho</span>
                        <div id='container_informations_find_coworking'>
                            <input id="localization" type="text" placeholder="Localização:">
                            <input type="date" id="check_in">
                        </div>
                        <a href="#">
                            <div>
                                <img src="images/default/search.svg" alt="pesquisa">
                            </div>
                        </a>  
                    </div>
            </div>

            <div id="menu">
                <div id='menu_sign-in-up'>
                        <img src="images/default/user.svg" alt="usuário">
                        <img src="images/default/menu_hamburguer.svg" alt="menu">
                </div>
                <div class="menu_open">
                    <div>
                        <img src="images/default/perfil.svg" alt="foto de perfil">
                        <h3>Luana Almeida <span>Coworker</span></h3>
                    </div>
                    <div>
                        <nav>
                            <ul>
                                <li>
                                    <img src="images/default/my-perfil.png" alt="meu perfil">
                                    My profile
                                </li>
                                <li>
                                    <img src="images/default/favorite.png" alt="favoritos">
                                    Favoritos
                                </li>
                                <li>
                                    <img src="images/default/question.png" alt="suporte">
                                    Help & Support
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div>
                        <img src="images/default/log-out.png" alt="sair da conta">
                        Logout
                    </div>
                </div>
            </div>
        </div>
    </header> 

    <div id='box_black'></div>

    <main>
        <section id="apresentation_section" class="container_margin_default"> 
            <div class="default_margin">
                <article>
                    <img src="images/default/return_arrow-white.svg" alt="Ícone de seta - Voltar">
                    <h1>Aproveite para apresentar o seu espaço</h1>
                </article>

                <article id="form-article">
                    <form action="">
                        <label for="titulo">Título</label>
                        <input type="text" name="titulo" id="titulo" size="50" class="form-control">
                        <label for="descricao">Descrição</label>
                        <textarea name="descricao" id="descricao" rows="10" class="form-control"></textarea>

                        <a href="/fotos"><input type="submit" id="advance" value="Avançar"></a>
                    </form>
                </article>
            </div>
    </section>
    </main>

    <script src="script/default/header/header.js"></script>

</body>
</html>