<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/default/default.css">
    <link rel="stylesheet" href="style/register-space/finalization.css">
</head>

<body>
    <header id="header" class="container_margin_default">
        <div class="default_margin">
            <a href="/"> <img src="images/default/logo.svg" alt="logo"> </a>
            <div>
                <ul id="type_office">
                    <li class="option_office checked">Espaço adaptado</li>
                    <li class="option_office">Espaço corporativo</li>
                </ul>
                <div class="container_search">
                    <span id="search_txt">Busque locais para trabalho</span>
                    <div id='container_informations_find_coworking'>
                        <input id="localization" type="text" placeholder="Localização:">
                        <input type="date" id="check_in">
                    </div>
                    <a href="#">
                        <div>
                            <img src="images/default/search.svg" alt="pesquisa">
                        </div>
                    </a>
                </div>
            </div>

            <div id="menu">
                <div id='menu_sign-in-up'>
                    <img src="images/default/user.svg" alt="usuário">
                    <img src="images/default/menu_hamburguer.svg" alt="menu">
                </div>
                <div class="menu_open">
                    <div>
                        <img src="images/default/perfil.svg" alt="foto de perfil">
                        <h3>Luana Almeida <span>Coworker</span></h3>
                    </div>
                    <div>
                        <nav>
                            <ul>
                                <li>
                                    <img src="images/default/my-perfil.png" alt="meu perfil">
                                    My profile
                                </li>
                                <li>
                                    <img src="images/default/favorite.png" alt="favoritos">
                                    Favoritos
                                </li>
                                <li>
                                    <img src="images/default/question.png" alt="suporte">
                                    Help & Support
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div>
                        <img src="images/default/log-out.png" alt="sair da conta">
                        Logout
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id='box_black'></div>


    <main>
        <section id="finalization_section1" class="container_margin_default">
            <div class="default_margin">
            <div>
                <ul>
                <li><img id="provisory-img" src="images/register-space/finalization-img.png" alt="Foto do espaço"></li>
                <li><h2>Lorem Ipsum</h2></li>
                <li>Lorem ipsum dolor sit</li>
                <li>x pessoas | x salas | x banheiros</li>
                <li><p>Descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus </p></li>
                
            </ul>
            </div>

            <div>
                <h1>O seu anúncio está quase pronto!</h1>
                <p>Confirme apenas estes detalhes para que seu espaço seja anunciado</p>

                <ul id="second_list">
                    <li>
                        <h3>Cadastro do espaço</h3>
                        <div>
                            <img src="images/register-space/ok-icon.svg" alt="Ok">
                            <label>Concluído!</label>
                        </div>
                    </li>

                    <li>
                        <div class="h3Align"><h3>Cadastro de identidade</h3><button>Confirmar</button></div>
                        <div>
                            <img src="images/register-space/ok-icon.svg" alt="Ok">
                            <label>Não concluido</label>
                        </div>
                    </li>

                    <li>
                        <div class="h3Align"><h3>Confirmação do número de telefone</h3><button>Confirmar</button></div>
                        <div>
                            <img src="images/register-space/ok-icon.svg" alt="Ok">
                            <label>Concluído!</label>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        </section>


    </main>

    <script src="script/default/default.js"></script>

</body>

</html>