<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/default/default.css">
    <link rel="stylesheet" href="style/register-space/type-of-environment.css">
</head>

<body>
    <header id="header" class="container_margin_default">
        <div class="default_margin">
            <a href="/"> <img src="images/default/logo.svg" alt="logo"> </a>
            <div>
                <ul id="type_office">
                    <li class="option_office checked">Espaço adaptado</li>
                    <li class="option_office">Espaço corporativo</li>
                </ul>
                <div class="container_search">
                    <span id="search_txt">Busque locais para trabalho</span>
                    <div id='container_informations_find_coworking'>
                        <input id="localization" type="text" placeholder="Localização:">
                        <input type="date" id="check_in">
                    </div>
                    <a href="#">
                        <div>
                            <img src="images/default/search.svg" alt="pesquisa">
                        </div>
                    </a>
                </div>
            </div>

            <div id="menu">
                <div id='menu_sign-in-up'>
                    <img src="images/default/user.svg" alt="usuário">
                    <img src="images/default/menu_hamburguer.svg" alt="menu">
                </div>
                <div class="menu_open">
                    <div>
                        <img src="images/default/perfil.png" alt="foto de perfil">
                       <h3>Usuário <span>Cliente</span></h3>
                    </div>
                    <div>
                        <nav>
                            <ul>
                                <li>
                                    <img src="images/default/my-perfil.png" alt="meu perfil">
                                    My profile
                                </li>
                                <li>
                                    <img src="images/default/favorite.png" alt="favoritos">
                                    Favoritos
                                </li>
                                <li>
                                    <img src="images/default/question.png" alt="suporte">
                                    Help & Support
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div>
                        <img src="images/default/log-out.png" alt="sair da conta">
                        Logout
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section id="type-of-environment_section" class="container_margin_default">
            <div class="default_margin">
                <div id="align-elements">
                <div>
                    <h1>Cadastre seu espaço em poucos passos</h1>
                </div>

                <div id="second">
                    <!--Inclui o botão no contexto da segunda parte da página-->
                    <div>
                        <!--Engloba os elementos antes do botão para que não se dispersem com o flex-direction: colunm, usado por causa do botão -->
                        <p>Para começar, escolha o tipo do ambiente em que seu espaço está:</p>

                        <div>
                            <!--Alinha as duas divs com margem que contém as imagens ilustrativas-->
                            <div>
                                <div class="hint">
                                    <a href="javascript:hint(1);">
                                        <img class="hint" src="images/register-space/type-of-environment/hint-icon.svg" alt="Dica">
                                    </a>
                                </div>
                                <img id="typeOf1" src="images/register-space/type-of-environment/adaptable.png"
                                    alt="Espaços adaptáveis">
                                <p>Ambiente adaptado</p>
                            </div>
                            <div>
                                <div class="hint">
                                    <a href="javascript:hint(2);">
                                        <img class="hint" src="images/register-space/type-of-environment/hint-icon.svg" alt="Dica">
                                    </a>
                                </div>

                                <img id="typeOf2" src="images/register-space/type-of-environment/corporate.png"
                                    alt="Espaços corporativos">
                                <p>Ambiente corporativo</p>
                            </div>
                        </div>
                    </div>
                </div>
                    
                </div>

                <div id="buttons-div">
                    <a href="/central-de-ajuda"><button>Dúvidas? Acesse a central de ajuda para fazer um anúncio de excelência!</button></a>
                    <a href="/categorias-de-espacos-adaptaveis"><button>Avançar</button></a>
                </div>

                <article id="hint-adaptable">
                    <div>
                        <div>
                            <a href="javascript:hint(3);">
                                <img class="close-x" src="images/default/close-icon.svg" alt="Fechar">
                            </a>
                        </div>
    
                        <div>
                            <div>
                                <img src="images/register-space/type-of-environment/adaptable.png" alt="">
                                <p>Ambiente adaptado</p>
                            </div>
    
                            <div>
                                <p>Seja sua casa ou até mesmo um trailer. São espaços que podem ser adaptados ao
                                    trabalho.</p>
                            </div>
                        </div>
    
                    </div>
                </article>
    
                <article id="hint-corporate">
                    <div>
                        <div>
                            <a href="javascript:hint(4);">
                                <img class="close-x" src="images/default/close-icon.svg" alt="Fechar">
                            </a>
                        </div>
    
                        <div>
                            <div>
                                <img src="images/register-space/type-of-environment/corporate.png" alt="">
                                <p>Ambiente corporativo</p>
                            </div>
    
                            <div>
                                <p>Locais essencialmente destinados ao trabalho, como coworkings
                                    e escritórios tradicionais.</p>
                            </div>
                        </div>
    
                    </div>
                </article>
            </div>

            
        </section>

        </div>
    </main>

    <div id='box_black'></div>



    <script src="script/default/header/header.js"></script>
    <script src="script/register-space/type-of-environment.js"></script>

</body>

</html>