<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/default/default.css">
    <link rel="stylesheet" href="style/register-space/categories/adaptables/subcategories/apartment-subcategory.css">
    </head>
<body>
    <header id="header" class="container_margin_default">
        <div class="default_margin">
            <a href="/"> <img src="images/default/logo.svg" alt="logo"> </a>

            <div class="header-buttons">
                <a href="/central-de-ajuda"><button>Ajuda</button></a>
                <a href="/"><button>Sair</button></a>
            </div>
        </div>
    </header>


    <div id='box_black'></div>

    <main>
        <section id="adaptables-categories_section" class="container_margin_default">
            <div class="default_margin">
            
                        <nav>
                                <ul class="breadcrumb">
                                  <li><a class="hoverU" href="/tipo-de-ambiente">Tipo de ambiente</a></li>
                                  <li class="divisor">></li>
                                  <a class="hoverU" href="/categorias-de-espacos-adaptaveis"><li>Categoria do ambiente</li></a>
                                  <li class="divisor">></li>
                                  <a href=""><li aria-current="page">Subcategoria do ambiente</li></a>
                                </ul>
                        </nav>

                <div class="align-elements center">
                    <h1>Escolha a categoria</h1>
                    <ul>
                        <li class="space-box">
                            <img class="space-photo" src="images/register-space/adaptables/apartment-category.png" alt="">
                            <div><span>Apartamento comum</span></div>
                        </li>
                        
                        <li class="space-box">
                            <img class="space-photo" src="images/register-space/adaptables/kitnet.png" alt="">
                            <div><span>Kitnet</span></div>
                        </li>

                        <li class="space-box">
                            <img class="space-photo" src="images/register-space/adaptables/loft.png" alt="">
                            <div><span>Loft</span></div>
                        </li>
                    </ul>
                </div>
                <div class="align-elements" id="align-buttons">
                    <button>Nenhuma das opções</button>
                        <a id="advance" href="/localizacao"><button id="advanceButton">Avançar</button></a>
                </div>

                <!-- <div>
                    <img src="images/default/return-arrow.png" alt="voltar"> 
                    <h1>Escolha a categoria</h1>
                    <button>Nenhuma das opções</button>
                </div>

                <div>
                    <ul>
                        <li>
                            <div><img src="images/become-advertiser/categories/adaptables/house-category.png" alt="">
                            <div class="subtitle">
                                <h2>Casa</h2>
                            </div>
                        </div>
                    </li>
                        <li>
                            <div>
                                <img src="images/become-advertiser/categories/adaptables/apartment-category.png" alt="">
                                <div class="subtitle">
                                    <h2>Apartamento</h2>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="images/become-advertiser/categories/adaptables/unity-category.png" alt="">
                                <div class="subtitle">
                                    <h2>Unidade à parte</h2>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div id="buttonDiv">
                        <button id="advanceButton">Avançar</button>
                    </div>
                    
                </div> -->

            </div>
        </section>
    </main>

    <script src="script/default/header/header.js"></script>
    <script src="script/register-space/adaptables-categories/generic-sub.js"></script>
</body>
</html>
