#home_section1 > div{
    position: relative;
    padding-top: 181px;
    padding-bottom: 105px;
    justify-content: space-between;
}

#home_section1 > div > div:first-child{
    max-width: 412px;
}

#home_section1 > div > div h1{
    font-size: 52px;
    margin: 24px 0;
    color: #1b1b1b;
}

#home_section1 h1 span{
    font-size: 1em;
    letter-spacing: 11.5px;
    font-weight: 300;
}

#home_section1 > div > div:first-child p {
    font-size: 18px;
    line-height: 26px;
}

#home_section1 > div > div:nth-child(2){
    position: relative;
    display: flex;
    justify-content: center;
    width: 545px;
    align-items: center;
}

.home_section1_call_action{
    background: #fff;
    position: absolute;
    padding: 16px 23px;
    box-shadow: 0px 0px 6px 5px rgb(1 1 1 / 10%);
    z-index: 99;
    border-radius: 25px;
    text-align: center;
}

.home_section1_call_action button{
    border-radius: 20px;
    border: none;
    margin-top: 13px;
    padding: 7px 53px;
    color: var(--white);
    background-color: var(--scale-2-purple);
    font-weight: 500;
}

.home_section1_call_action p{
    max-width: 168px;
    font-size: 14.7px;
}

#home_section1 div > .home_section1_call_action:nth-child(1) {
    top: 0;
    right: 0;
}

#home_section1 div > .home_section1_call_action:nth-child(3){
    bottom: 0;
    left: 0;
    z-index: 399;
}

#home_section1 > div > div:nth-child(2) img{
    width: 295px;
    position: relative;
    z-index: 299;
}

#home_section1 > div > div:nth-child(2)::before{
    content: '';
    position: absolute;
    height: 382px;
    width: 373px;
    border-radius: 50%;
    background:var( --scale-2-blue);
}

#home_section2 > div {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 105px;
}

#home_section2 ul{
    display: flex;
    justify-content: space-between; /*Alteração do Xavier, 20/07 às 23:51*/
    flex-wrap: wrap;
    list-style: none;
}

#home_section2 ul li{
    margin: 10px 10px 10px 0;
    width: 300px;
}

#home_section2 > div ul li img{
    padding: 2px 13px;
    border-radius: 14px;
    background: var(--scale-4-blue);
    margin: 12px 0 7px 0;
}

#home_section2 > div ul li p{
    margin: 12px 0;
    max-width: 284px;
}

#home_section3{
    background:var(--scale-6-blue);
    padding-bottom: 34px;
}

#home_section3 > div{
    position: relative;
    flex-direction: column;
    justify-content: center;
}

#home_section3 > div img{
    width: 100%;
    position: relative;
    top: -14px;
}

#home_section3 > div > div{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

#home_section3 > div > div  h3{
    font-size: 25px;
    font-weight: 700;
    margin-top: 5px;
}

#home_section3 > div > div p{
    margin: 20px 0;
    font-size: 18px;
    max-width: 607px;
    text-align: center;
}

/* #home_section3 > div > div a{
    color: inherit;
    font-weight: 500;
    font-family: var(--font-primary);
} */

#home_section3 > div > div > a > button{
    width: 180px;
    height: 36px;
    background-color: var(--scale-2-purple);
    border: none;
    border-radius: 20px;
    color: var(--white);
    font-weight: 700;
    font-family: var(--font-primary);
    font-size: 16px;
}

#home_section4{
    position: relative;
    margin: 105px 0;
}

#home_section4 > div{
    justify-content: space-around;
    padding: 120px 0;
}

#home_section4 > div h2{
    display: flex;
    align-items: flex-end;
    max-width: 181px;
}

#home_section4 > div h2 img{
    margin-left: 6px;
}

#home_section4_background{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    padding: 0 111px;
    background: var(--scale-2-blue);
    border-radius: 44px 0 0 44px;
}

#home_section4_reports{
    position: relative;
    left: 15px;
    max-width: 697px;
    color: var(--white);
}

#home_section4_reports p{
    margin-top: 17px;
}

#home_section5 > div{
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 105px;
}

#home_section5 > div h2{
    margin-bottom: 40px;
}

#home_section5 div ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    justify-content: space-between;
}

#home_section5 div ul li{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    align-items: flex-start;
    border-radius: 20px 20px 10px 10px;
}


#home_section5 div ul li div{
    padding: 10px 10px 27px 10px;
    font-size: 14px;
    border-radius: 0 0 10px 10px;
    box-shadow: 5px 5px 5px 0px rgb(128 128 128 / 35%);
    width: 100%;
    max-width: 231px;
    max-height: 91px;
    box-sizing: border-box;
}

#home_section5 div ul li div h4{
    font-size: 16px;
    margin:11px 0 7px 0;
}

#home_section5 div ul li img {
    width: 231px;
    height: 251px;
}

#home_section6 > div{
    justify-content: space-around;
    padding-bottom: 105px;
}

#home_section6 > div img{
    width: 408px;
}

#home_section6 > div > div{
    max-width: 528px;
}

#home_section6 > div > div h3{
    font-size: 30px;
}

#home_section6 > div > div p{
    margin: 20px 0;
}

#home_section6 > div > div a button{
    border-radius: 20px;
    border: none;
    width: 234px;
    background: var(--scale-2-purple);
    padding: 10px 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
}