<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <!-- <meta charset="UTF-8"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"
    integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js" integrity="sha512-CX7sDOp7UTAq+i1FYIlf9Uo27x4os+kGeoT7rgwvY+4dmjqV0IuE/Bl5hVsjnQPQiTOhAX1O2r2j5bjsFBvv/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/additional-methods.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtJGza4SniYHefeNwCdE4gU3sg1AU4fiU&&libraries=places"></script>
    <link rel="stylesheet" href="style/default/default.css">
    <link rel="stylesheet" href="style/home/home.css">
</head>
<body>
    <header id="header" class="container_margin_default">
        <div class="default_margin">
            <a href="/"> <img src="images/default/logo.svg" alt="logo"> </a>
            <div id="container_search">
                <ul id="type_office">
                    <li class="option_office checked">Espaço adaptado</li>
                    <li class="option_office">Espaço corporativo</li>
                </ul>
                <div class="container_search_input">
                    <span id="search_txt">Pesquise locais para trabalhar</span>
                    <div id='container_informations_find_coworking'>
                        <div class="gap_input_checked">
                            <input id="search_input" class="booking_informations input_checked" type="text" placeholder="Localização:">
                            <div class="popUp_input"></div>
                        </div>
                        <div class="gap_input_checked">
                                <span class="booking_informations booking_informations_user">Horários</span>
                         
                                <div class="popUp_input"></div>
                        </div>
                        <div class="gap_input_checked">
                            <span class="booking_informations booking_informations_user">Pessoas</span>
                        </div>
                    </div>
                    <a href="#">
                        <div>
                            <img src="images/default/search.svg" alt="pesquisa">
                        </div>
                    </a>
                </div>
            </div>

            <div id="menu">
                <div id='menu_sign-in-up'>
                    <img src="images/default/user.svg" alt="usuário">
                    <img src="images/default/menu_hamburguer.svg" alt="menu">
                </div>
                <%
                if(autenticado){
            %>
                <%- include('../../partial/header/menu_autenticado.ejs'); %>
            <%       
            }else{
            %>
                 <%- include('../../partial/header/menu.ejs'); %>
            <%
            } 
            %>
            </div>
        </div>
        <div id="container_popUp_login-signUp">
            <div class="popUp">
                <img class="close_popup" src="images/default/close_icon.svg" alt="close">
                <h2>Umbrella Officing</h2>
                <h3>Seja bem-vindo</h3>
                <div>
                    <span>Faça seu login para continuar</span>
                    <form method="post" action="/login">       
                        <label for="cpf-email">
                            CPF ou E-mail :
                            <input type="text" id="cpf-email" name="cpfEmail">
                        </label>
                        
                        <label for="password-login">
                            Senha:
                            <input type="password" id="password-login" name="password">
                        </label>

                        <div>
                            <a href="#">Esqueceu a senha?</a>
                        </div>
                        
                        <button class="form_button" type="submit">LOGIN</button>
                    </form>
                    <div id="alternatives">
                        <div><span>OR</span></div>
                        <div>
                            <span>Faça login com suas Redes Sociais</span>
                            <img src="images/default/icon-google.png" alt="ícone do google">
                            <img src="images/default/icon-facebok.svg" alt="ícone do facebbok">
                            <img src="images/default/icon-apple.png" alt="ícone do facebbok">
                            <span>Ainda não possui conta? <a href="#">Cadastre-se</a></span>
                        </div>
                    </div>
            </div>     
            </div>
            <div class="popUp">
                <img class="close_popup" src="images/default/close_icon.svg" alt="close">
                <h2>Umbrella Officing</h2>
                <h3>Seja bem-vindo</h3>
                <div>
                    <span>Cadastre-se e faça parte da nossa comunidade</span>
                    <form id="myform" method="post" action="/cadastro">
                        <fieldset id="test1" class="test">
                            <label for="name">
                                Nome:
                                <input type="text" id="name" name="name">
                            </label>
                            <label for="email">
                                E-mail:
                                <input type="email" id="email" name="email">
                            </label>
    
                            <label for="cpf">
                                CPF:
                                <input type="number" id="cpf" name="cpf">
                            </label>

                            <label for="password">
                                Senha:
                                <input type="password" id="password" name="password">
                            </label>

                            <label for="conf_password">
                                Confirmar senha:
                                <input type="password" class="form-control" id="conf_password" name="conf_password">
                            </label>
                            <input type="button" class="form_button next" value="Próximo">
                        </fieldset>
                        <fieldset id="test2" class="test campos">
                            <label for="birth_date">
                                Data de nascimento
                                <input type="date" id="birth_date" name="birth_date">
                            </label>
                            <label for="phone">
                                Telefone:
                                <input type="number" id="phone" name="phone">
                            </label>
                            <label for="profession">
                                Profissão:
                                <input type="text" id="profession" name="profession">
                            </label>
                            <label for="address">
                                Endereço:
                                <input type="text" id="address" name="address">
                            </label>
                            <button class="form_button" type="submit">CADASTRAR</button>
                        </fieldset>
                    </form>
            </div>        
            </div>
        </div>
        <div id="container_popUp_profilePicture">
            <div class="popUp_profilePicture">
                <h2>Adicionar imagem de perfil</h2>
                <div>
                     <form action="/perfil2" method="post" enctype="multipart/form-data">
                    <div class="actionPicture">
                        <div>      
                            <%
                            if(autenticado){
                        %>
                            <%if(autenticado.profile_picture != null){%>
                                <img class="image_profile" src="data:image/gif;base64,<%=autenticado.profile_picture%>" alt="Foto de perfil">                                   
                            <%}%>

                            <%if(autenticado.profile_picture == null){%>
                                <img class="image_profile" src="images/default/perfil.png" alt="Foto de perfil">                               
                            <%}%>
                            
                        <%       
                        }else{
                        %>
                            <img class="image_profile" src="images/default/perfil.png" alt="Foto de perfil">
                        <%
                        } 
                        %>
                        </div>
                        <div>
                            <input id="close" type="button" value="Fechar">
                            <button id="salve" type="submit">Guardar</button>
                        </div>
                    </div>

                    <div>
                        <div class="uploadPicture">
                            <i class="fa-solid fa-arrow-up-from-bracket"></i>
                            <label for="ImagemPerfil">
                                Carregar imagem
                            </label>
                            <input accept="image/" class="form-control" id="ImagemPerfil" name="ImagemPerfil"
                            onchange="loadImg()" type="file" value=""/>
                        </div>
                        <div class="deletePicture">
                            <i class="fa-solid fa-trash"></i>
                            <span>Remover imagem</span>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <nav id="bottom-bar_mobile">
        <ul>
            <li>
                <a href="/">
                    <i class='bx bx-home icon icon-color'></i>
                </a>
            </li>
            <li class="list popUp-login-signUp">
                <div class="login icon">
                    <i class='bx bx-user'></i>
                    <i class='bx bx-plus'></i>
                </div>
            </li>
            <li>
                <i class='bx bx-search search'></i>
            </li>
            <li class="popUp-login-signUp list">
                <i class='bx bx-user icon'></i>
            </li>
            <div>
                <a href="/central-de-ajuda"><i class='bx bx-info-circle icon'></i></a>
            </div>
        </ul>
    </nav>

    <div id='box_black'></div>

    <main>

        <section id="home_section1" class="container_margin_default">
            <div class="default_margin">
                <div>
                    <h1>Umbrella <span>Officing</span></h1>
                    <p>Conheça o serviço que você sempre quis: trabalhe em qualquer lugar, sem burocracia</p>
                </div>

                <div>
                    <div class="home_section1_call_action">
                        <p>Quero anunciar facilmente um espaço na plataforma</p></a>
                        <a href="/torne-se-um-anunciante"><button>Anuncie</button></a>
                    </div>

                    <img src="images/home/client.png" alt="Cliente utilizando o serviço">

                    <div class="home_section1_call_action">
                        <p>Quero reservar um espaço flexível para trabalhar</p>
                        <button>Reservar</button>
                    </div>
                </div>
            </div>
        </section>

        <section id="home_section2" class="container_margin_default">
            <div class="default_margin">
                <h3>Por que escolher o nosso serviço?</h3>
                <ul>
                    <li>
                        <img id="geolocation" src="images/home/geolocation.svg" alt="Geolocalização">
                        <h4>Geolocalização</h4>
                        <p>Trabalhe em várias localidades e pontos de referência. Em outras palavras... onde você quiser!</p>
                    </li>
                    <li>
                        <img src="images/home/cost-benefit.png" alt="Custo benefício">
                        <h4>Custo benefício</h4>
                        <p>Reduza as despesas de casa e os custos de transporte que você já conhece</p>
                    </li>
                    <li>
                        <img src="images/home/networking.png" alt="rede de contato(networking)">
                        <h4>Networking</h4>
                        <p>Conheça profissionais que pensem como você e agreguem valor à sua vida profissional</p>
                    </li>
                    <li>
                        <img src="images/home/income.png" alt="renda">
                        <h4>Renda</h4>
                        <p>Anuncie um espaço seu que pode ser anunciado e ganhe dinheiro com isso. Simples!</p>
                    </li>
                    <li>
                        <img src="images/home/flexibility.png" alt="flexibilidade">
                        <h4>Flexibilidade</h4>
                        <p>Escolha dentre várias opções que vão desde espaços privativos a salas de reunião.</p>
                    </li>
                    <li>
                        <img src="images/home/no-bureaucracy.svg" alt="sem burocracia">
                        <h4>Sem burocracia</h4>
                        <p>Se livre da papelada e usufrua de um serviço que vai além da sua demanda de necessidade</p>
                    </li>

                </ul>
            </div>
        </section>

        <section id="home_section3" class="container_margin_default">
            <div class="default_margin">
                <img src="images/home/community.png" alt="comunidade de anfitriões">
                <div>
                    <h3>Excelência</h3>
                    <p>A nossa comunidade de proprietários garante a você as
                    melhores reservas de espaços</p>
                       <a href="#"><button>Reserve já</button></a>
                </div>
            </div>
        </section>

        <section id='home_section4' class="container_margin_default">
            <div class="default_margin">
                <h2>Mensagens <br>da nossa comunidade <img src="images/home/emoji.svg" alt="emoji"></h2>
                <div id="home_section4_padding">
                    <div id="home_section4_background"></div>
                    <ul class="reports">
                        <li>
                            <p>"Há anos com um quarto de hóspedes totalmente abandonado.
                                A solução de anunciá-lo na plataforma realmente abriu meus olhos"</p>
                            <h3>Andrea Filho <span>Proprietária desde 2021</span></h3>
                        </li>
                        <li>
                            <p>"Há anos com um quarto de hóspedes totalmente abandonado.
                                A solução de anunciá-lo na plataforma realmente abriu meus olhos"</p>
                            <h3>Andrea Filho <span>Proprietária desde 2021</span></h3>
                        </li>
                        <li>
                            <p>"Há anos com um quarto de hóspedes totalmente abandonado.
                                A solução de anunciá-lo na plataforma realmente abriu meus olhos"</p>
                            <h3>Andrea Filho <span>Proprietária desde 2021</span></h3>
                        </li>
                        <li>
                            <p>"Há anos com um quarto de hóspedes totalmente abandonado.
                                A solução de anunciá-lo na plataforma realmente abriu meus olhos"</p>
                            <h3>Andrea Filho <span>Proprietária desde 2021</span></h3>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="home_section5" class="container_margin_default">
            <div class="default_margin">
                <h2>Alguns locais para te inspirar:</h2>
                <ul class="slider">
                    <li>
                        <div>
                            <img src="images/home/kitnets_agua_branca.svg" alt="coworking em Água Branca - SC">
                            <div class="description_coworking">
                                <h4>Água Branca - SC</h4>
                                Escritório Privado - Kitnets
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="images/home/coworking-sao-carlos-sp.svg" alt="coworking em São Carlos - SP">
                            <div class="description_coworking">
                                <h4>São Carlos - SP</h4>
                                Escritório Privado - Casa Comum
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="images/home/coworking-recife-pe.svg" alt="coworking em Maria Anunciação - MG">
                            <div class="description_coworking">
                                <h4>Maria Anunciação - MG</h4>
                                Escritório Privado - Apartamento
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="images/home/coworking-alphaville-sp.svg" alt="coworking em Maria Anunciação - MG">
                            <div class="description_coworking">
                                <h4>Maria Anunciação - MG</h4>
                                Escritório Privado - Apartamento
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="images/home/kitnets_agua_branca.svg" alt="coworking em Água Branca - SC">
                            <div class="description_coworking">
                                <h4>Água Branca - SC</h4>
                                Escritório Privado - Kitnets
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="images/home/coworking-sao-carlos-sp.svg" alt="coworking em São Carlos - SP">
                            <div class="description_coworking">
                                <h4>São Carlos - SP</h4>
                                Escritório Privado - Casa Comum
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="images/home/coworking-recife-pe.svg" alt="coworking em Maria Anunciação - MG">
                            <div class="description_coworking">
                                <h4>Maria Anunciação - MG</h4>
                                Escritório Privado - Apartamento
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="images/home/coworking-alphaville-sp.svg" alt="coworking em Maria Anunciação - MG">
                            <div class="description_coworking">
                                <h4>Maria Anunciação - MG</h4>
                                Escritório Privado - Apartamento
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="images/home/kitnets_agua_branca.svg" alt="coworking em Água Branca - SC">
                            <div class="description_coworking">
                                <h4>Água Branca - SC</h4>
                                Escritório Privado - Kitnets
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="images/home/coworking-sao-carlos-sp.svg" alt="coworking em São Carlos - SP">
                            <div class="description_coworking">
                                <h4>São Carlos - SP</h4>
                                Escritório Privado - Casa Comum
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="images/home/coworking-recife-pe.svg" alt="coworking em Maria Anunciação - MG">
                            <div class="description_coworking">
                                <h4>Maria Anunciação - MG</h4>
                                Escritório Privado - Apartamento
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="images/home/coworking-alphaville-sp.svg" alt="coworking em Maria Anunciação - MG">
                            <div class="description_coworking">
                                <h4>Maria Anunciação - MG</h4>
                                Escritório Privado - Apartamento
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section id='home_section6' class="container_margin_default">

            <div class="default_margin">

                <img src="images/home/host.png" alt="anfitrião">

                <div>
                    <h3>Esclareça suas dúvidas <br> conosco</h3>
                    <p>Tire instantaneamente suas dúvidas através do nosso canal de atendimento no WhatsApp</p>
                   <a href="#"><button>Entrar em contato</button></a>
                </div>

            </div>

        </section>

    </main>

    <footer class="container_margin_default">
        <%- include('../../partial/footer.ejs')%>
    </footer>

    
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="script/default/header/header.js"></script>
    <script src="script/default/register/register.js"></script>
    <script src="script/home/reports.js"></script>
    <script src="script/home/coworking_places_inspire.js"></script>
    <script src="script/default/header/autocomplete_api.js"></script>
</body>
</html>