@media (min-width: 320px) and (max-width: 480px){
    main .align-elements{
        flex-direction: column;
    }

    main #adaptables-categories_section h1{
        font-size: 25px;
        margin-bottom: 30px;
    }
    
    main .space-photo{
        width: 82px;
        height: 87px;
    }

    main .align-elements > ul{
        flex-wrap: wrap;
        flex-direction: column;
    }

    main .align-elements > ul > li{
        flex-direction: row;
        margin: 0;
        width: 100%;
    }

    main .align-elements > ul > li > div{
        border-radius: 0 10px 10px 0;
        max-width: none;
        height: 55px;
        width: 100%;
    }

    main .align-elements > ul > li:first-child{
        margin-bottom: 20px;
    }

    main .align-elements > ul > li:last-child{
        margin-top: 20px;
    }

    main #align-buttons{
        padding-top: 0;
    }

    main #align-buttons > button:first-child{
        margin-bottom: 14px;
    }

    main #align-buttons > :last-child{
        height: 36px;
        width: 60%;
    }

    main #advanceButton{
        width: 100%;
    }
}

@media(min-width: 481px) and (max-width: 586px){
    main #adaptables-categories_section h1{
        max-width: none;
        text-align: center;
        font-size: 32px;
        margin-bottom: 20px;
    }

    main .align-elements{
        flex-direction: column;
    }

    main .align-elements > ul{
        flex-wrap: wrap;
        flex-direction: column;
    }

    main .align-elements > ul > li{
        margin-top: 20px;
        flex-direction: row;
        width: 100%;
        max-width: none;

    }

    main .align-elements > ul > li > div{
        width: 100%;
        height: 65px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    main .space-photo{
        width: 104px;
        height: 97px;
    }

    main .align-elements > ul > li:last-child{
        margin-top: 20px;
    }

    main #align-buttons{
        padding-top: 0;
    }

    main #align-buttons > :first-child{
        margin-bottom: 20px;
    }

    main #align-buttons > :last-child{
        width: 60%;
        height: 36px;
    }

    main #advanceButton{
        width: 100%;
    }
}

@media(min-width: 587px) and (max-width: 840px){
    #adaptables-categories_section > div{
        height: calc(100vh - 89px)
    }

    main .center{
        flex-direction: column;
    }

    main .center > ul{
        max-width: 692px;
        justify-content: center;
        flex-wrap: wrap;
    }

    /* main .center > ul > li:last-child{
        margin-top: 30px;
    } */

    main #adaptables-categories_section h1{
        max-width: none;
        margin-bottom: 60px;
        font-size: 35px;
    }

    main .align-elements > ul{
        flex-wrap: wrap;
    }

    main #align-buttons{
        justify-content: space-around;
        padding-top: 0;
    }
}


*{
    font-family: 'Montserrat';
}

ul{
    list-style: none;
    display: flex;
}

nav{
    align-self: flex-start;
}

a{
    text-decoration: none;
    font-size: 12px;
}

.header-buttons{
    display: flex;
    justify-content: space-between;
    width: 210px;
}

.header-buttons > a  button:hover{
    background-color: #bdbdbd;
}


.header-buttons button{
    transition: .3s ease;
    width: 95px;
    height: 40px;
    background-color: var(--scale-2-gray);
    border: none;
    border-radius: 20px;
    color: var(--text-1-black);
    font-weight: 600;
}

.breadcrumb{
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.breadcrumb > li{
    font-size: 12px;
    cursor: pointer;
    color:#6C757D;
    width: fit-content;
}

.hoverU:hover{
    text-decoration: underline;
}

.breadcrumb li a:active{
    color:blue;
}

/* .breadcrumb > li:first-child{
    text-decoration: none;
} */

.divisor{
    margin: 0 8px;
    text-decoration: none;
    cursor: default;
}

.active{
    border-bottom: none;
}

.breadcrumb-item > a:first-child{
    text-decoration: none;
    color: #6C757D;
}

.active:after{
    content: '';
    height: 1px;
    width: 91%;
    background-color: #6C757D;
    display: block;
    margin-left: 9%;
}

.breadcrumb-item{
   font-size: 12px;
}


#adaptables-categories_section{
    height: 100vh;
}

#adaptables-categories_section > div{
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 105px;
}

.align-elements{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#return-arrow-div{
    padding-top: 35px;
}

#return-arrow-div a img{
    width: 55px;
}


#adaptables-categories_section > div > :first-child > img{
    width: 50px;
    height: 50px;
}

.align-elements > ul > li > div{
    border: 1px solid var(--gray-border);
    padding: 20px 0 10px 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 45px;
    max-width: 165px;
}

.align-elements > ul > li > div img{
    width: 100%;
}

.align-elements > ul > li > div span{
    font-weight: 600;

}

/* .align-elements > ul > li :last-child{
    margin-right: 0;
} */

.center > ul{
    justify-content: center;
}

.space-photo{
    width: 165px;
    height: 172px;
}

.align-elements > ul > li{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 10px;
    width: 165px;
} 


#advanceButton{
    width: 186px;
    height: 36px;
    border: none;
    border-radius: 20px;
    background-color: var(--gray-border);
    color: var(--white);
    font-weight: 600;
    font-size: 20px;
    padding: 0;
}

#adaptables-categories_section h1{
    font-size: 40px;
    max-width: 280px;
    font-weight: bolder;
    margin-right: 20px;
}

#align-buttons{
    padding-top: 65px;
}

#align-buttons > :first-child{
    background-color: transparent;
    border: none;
    font-weight: 800;
    font-size: 16px;
    color: var(--scale-1-blue);
    padding: 0;
}





