#ads-control_section1 {
    width: 744px;
    flex-direction: column;
}

#ads-control_section1 h1 {
    font-size: 25px;
    font-weight: 600;
}

#ads-control_section1 ul li {
    list-style: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(128 128 128 / 35%);
    width: 744px;
    box-sizing: border-box;
}

#ads-control_section1 ul li {
    display: grid;
    align-items: center;
    grid-template-columns: 200px 290px 194px;
    grid-column-gap: 10px;
}

#ads-control_section1 ul li div h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

#ads-control_section1 ul li div h4 {
    font-size: 14px;
    font-weight: 500;
}

#ads-control_section1 ul li div p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

#ads-control_section1 ul li div p strong {
    font-weight: 500;
}

#ads-control_section1 ul li div:nth-child(3) button {
    width: 89.5px;
    height: 28px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
}

#ads-control_section1 ul li div:nth-child(3) p b {
    font-size: 14px;
    font-weight: 600;
    color: #6DC200;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#ads-control_section1 ul li div:nth-child(3) p b::before {
    content: '\f111';
    font-family: 'Font Awesome 5 Free';
    font-size: 12px;
    color: #6DC200;
    margin-right: 5px;
}

#view-photos {
    background-color: var(--scale-13-blue);
    margin-right: 10px;
}

#delete-user {
    background-color: var(--scale-12-red);
}