#users-control_section1 {
    width: 744px;
    flex-direction: column;
}

#users-control_section1 h1 {
    font-size: 25px;
    font-weight: 600;
}

.container_search-users_input {
    display: flex;
    align-items: center;
    border: 1px solid var(--gray-border);
    width: 400px;
    position: relative;
    border-radius: 40px;
    transform: initial;
    transition: 250ms ease;
    margin: 20px 0 40px 0;
}

#search-users_txt {
    width: inherit;
    background: inherit;
    border: none;
    border-radius: inherit;
    font-family: var(--font-primary);
    font-size: 16.5px;
    font-weight: 500;
    color: #666;
    outline: none;
    padding-left: 20px;
}

.container_search-users_input div {
    display: flex;
    padding: 9px 12px;
    background-color: var(--scale-13-blue);
    border-radius: 50%;
    cursor: pointer;
}

#users-control_section1 ul li {
    list-style: none;
    display: grid;
    align-items: center;
    grid-template-columns: 290px 290px 124px;
    grid-column-gap: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--gray-border)
}

#users-control_section1 ul li div:nth-child(1) {
    display: flex;
}

#users-control_section1 ul li div img {
    margin-right: 10px;
}

#users-control_section1 ul li div h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

#users-control_section1 ul li div h4 {
    font-size: 14px;
    font-weight: 500;
}

#users-control_section1 ul li div p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

#users-control_section1 ul li div:nth-child(3) {
    display: flex;
    flex-direction: column;
}

#users-control_section1 ul li div:nth-child(3) button {
    width: 124px;
    height: 28px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
}

#more-informations {
    background-color: var(--scale-13-blue);
}

#delete-user {
    background-color: var(--scale-12-red);
}


