body {
    font-family: var(--font-primary);
}

#booking-requests>div {
    position: relative;
    padding-top: 181px;
    padding-bottom: 80px;
    align-items: flex-start;
    justify-content: space-between;
}

/*Menu lateral - Desktop*/
#come_back {
    display: flex;
    width: 64px;
    padding: 0;
    align-items: center;
    background-color: white;
    border: none;
    margin-bottom: 35px;
}

#come_back {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 600;
    color: var(--scale-13-blue);
}

#come_back img{
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: var(--text-1-black);
}

#bottom-bar_booking-requests-desktop ul {
    list-style: none;
}

#bottom-bar_booking-requests-desktop ul li {
    display: flex;
    padding: 10px;
    height: 40px;
    align-items: center;
}

.option-checked {
    border-left: 3px solid var(--scale-13-blue);
    font-size: 16px;
    font-weight: 600;
    color: var(--scale-13-blue);
}

.options_menu {
    font-size: 16px;
}

#booking-requests>div article {
    width: 784px;
}

.chooseOption {
    content: "";
    border-left: solid 0.2rem var(--scale-3-purple);
    height: 4.8rem;
    position: absolute;
    top: 0.4rem;
}


/*Menu - Mobile*/
#bottom-bar_booking-requests-mobile {
    position: fixed;
    display: flex;
    bottom: 0;
    background: #fff;
    z-index: 9000;
    padding: 5px 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgb(0 0 0 / 11%);
    box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
}

#bottom-bar_booking-requests-mobile ul {
    display: flex;
    list-style: none;
}

#bottom-bar_booking-requests-mobile ul li{
    margin-left: 15px;
    font-size: 12px;
}

#bottom-bar_booking-requests-mobile ul 
.option-checked {
    border-left: none;
    border-bottom: 3px solid var(--scale-13-blue);
    font-size: 12px;
    font-weight: 600;
    color: var(--scale-13-blue);
}


#booking-requests>div h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 35px;
}

/* #booking-requests>div article ul {
    list-style: none;
    display: grid;
    grid-template-columns: 158px 158px 158px 158px 158px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--gray-border);
}


#booking-requests>div article ul li {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #898989;
}

#booking-requests_section {
    display: grid;
    grid-template-columns: 158px 158px 158px 158px 158px;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--gray-border);
}

#booking-requests_section>div {
    display: flex;
    margin-top: 10px;
}

#booking-requests_section img {
    width: 45px;
    height: 45px;
}

#booking-requests_section>div h2 {
    font-size: 17px;
    font-weight: 600;
    margin-left: 10px;
}

#booking-requests_section p {
    font-size: 15.5px;
    font-weight: 400;
}

#booking-requests_section >div button {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar,
.check,
.close,
.rotate {
    font-size: 16px;
    color: white;
}

#calendar {
    background-color: var(--scale-2-purple);
    margin-right: 16px;
}

#check,
#renovation {
    background-color: var(--scale-8-blue);
    margin-right: 16px;
}

#delete {
    background-color: var(--scale-12-red);
}

.avaliation {
    background-color: var(--scale-2-purple);
    border: none;
    border-radius: 30px;
    height: 27px;
}

.avaliation {
    font-size: 14px;
    font-weight: 500;
    color: white;
}

section::after {
    content: "";
    border: 2px;
    color: aqua;
} */

#confirmed,
#canceled,
#client-avaliation {
    display: none;
}

#container_popUp_avaliation-owner {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 9999;
}

.popUp_avaliation-owner {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 16px;
    box-sizing: border-box;
    background: white;
    padding: 20px;
    width: 950px;
    padding: 40px 45px 15px 45px;
    animation: fadeIn ease .27s;
}

.popUp_flex {
    display: flex;
    top: 0;
}

.popUp_flex img {
    width: 200px;
    margin: -20px 50px 0 -10px
}

.popUp_flex div {
    width: 100%;
}

.popUp_flex label {
    font-size: 25px;
    font-weight: bold;
}

.rating{
    display: flex;
    justify-content: space-between;
    margin: 30px 10px 0 10px;
    width: 15%;
    list-style: none;
}


.rating li{
    width: 50px;
    cursor: pointer;
}

.rating img{
    width: 30px;
}

.popUp_flex textarea {
    border: 1px solid var(--gray-border);
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    resize: none;
    width: -webkit-fill-available;
    outline: none;
    margin-top: 15px;
    font-family: var(--font-primary);
    font-size: 16px;
}

.popUp_flex textarea {
    font-size: 16px;
}

.popUp_flex ~ div {
    display: flex;
    justify-content: flex-end;
}

#submit {
    background-color: var(--scale-2-purple);
    border: none;
    width: 150px;
    height: 32px;
    color: var(--white);
    border-radius: 30px;
}

#submit {
    font-size: 16px;
    font-family: var(--font-primary);
    font-weight: 500;
}


#booking-requests>div article {
    width: 880px;
}

#booking-requests>div article ul li {
    display: flex;
    padding: 15px 10px; 
    justify-content: space-between;
}

#booking-requests>div article ul li:nth-child(2) {
    background: rgb(241 241 241 / 45%);
}

ul li .profile {
    display: flex;
}

.profile img {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

#booking-requests>div article ul li div h3 {
    font-size: 14px;
    font-weight: 600;  
}

#booking-requests>div article ul li div h3 span {
    font-size: 14px;
    font-weight: 400;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 256px;
}

.actions button {
    border: none; 
    width: 36px;
    height: 36px;
    border-radius: 30px;
    color: #fff; 
}

.actions button a { 
    color: #fff;
    font-size: 14px;
    font-weight: 600; 
}

#calendar{
    width: 161px; 
    background-color: var(--scale-13-blue);
}

.calendar {
    margin-right: 5px;
}

#check,
#delete,
#renovation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #DADAF5;
}

.check, 
.delete {
    font-size: 16px;
}

#client-avaliation .actions {
    width: 161px;
}

#client-avaliation .avaliation {
    font-size: 15px;
    font-weight: 600;
    width: 161px; 
    background-color: var(--scale-13-blue);
}

#confirmed .actions {
    width: 226px;
}

@media(min-width: 320px) and (max-width: 550px){
    #header>div a img {
        width: 80%;
    }

    #container_search, 
    #menu {
        display: none;
    }  

    #container_menu > a > button { 
        width: 136px;
        height: 36px;
        margin: 0;
        font-size: 13.5px;
    }

    main #booking-requests>div { 
        padding-top: 130px; 
        flex-direction: column;
        width: 100%;
    }

    #booking-requests_articles { 
        width: 100%;
    }

    #come_back img {
        width: 20px;
    }

    #come_back {
        font-size: 13px;
    }

    main #bottom-bar_booking-requests-desktop ul { 
        display: none;
    }

    #booking-requests>div article {
        width: 100%;
    }

    #booking-requests>div h1 { 
        margin-bottom: 20px;
    }

    #booking-requests_articles article ul li {
        height: 200px;
        flex-direction: column;
    }

    footer h5,
    footer ul li,
    #scroll_up {
        display: none;
    }
}


@media(min-width: 550px) and (max-width: 841px){
    #header>div a img {
        width: 80%;
    }

    #container_search, 
    #menu {
        display: none;
    }  

    #container_menu > a > button { 
        width: 136px;
        height: 36px;
        margin: 0;
        font-size: 13.5px;
    }

    main #booking-requests>div { 
        padding-top: 130px; 
        flex-direction: column;
        width: 100%;
    }

    #booking-requests_articles { 
        width: 100%;
    }

    #come_back img {
        width: 20px;
    }

    #come_back {
        font-size: 13px;
    }

    main #bottom-bar_booking-requests-desktop ul { 
        display: none;
    }

    ul li .profile {
        width: 120px;
    }

    #booking-requests>div article {
        width: 100%;
    }

    #booking-requests>div h1 { 
        margin-bottom: 20px;
    }

    .actions { 
        width: 120px;
    }

    .actions button { 
        width: 35px;
        height: 35px; 
    }

    #calendar {
        width: 35px; 
    }

    .actions button a span {
        display: none;
    }

    .calendar {
        margin: 0;
    }

    footer h5,
    footer ul li,
    #scroll_up {
        display: none;
    }
}

@media(min-width: 841px) and (max-width: 1159px){
    .options_menu {
        font-size: 14.5px;
    }

    #booking-requests_articles { 
        width: 78%;
    }

    #booking-requests>div article {
        width: 100%;
    }

    .actions { 
        width: 140px;
    }

    .actions button a span {
        display: none;
    }

    #calendar {
        width: 36px; 
    }

    .calendar {
        margin: 0;
    }
}