#container_search {
    display: none;
}


#booking-solicitations>div {
    padding-top: 181px;
    justify-content: space-between;
    color: var(--text-1-black);
}


#booking-solicitations::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 109.4em;
    width: calc(50% - 290px);
}


/*Menu lateral*/
#come_back{
    display: flex;
    width: 64px;
    padding: 0;
    align-items: center;
    background-color: white;
    border: none;
}

#come_back{
    font-family: var(--font-primary);
    font-size: 14px;
    color: var(--scale-13-blue);
}

.chevron_left {
    font-size: 25px;
    margin-right: 5px;
}

#booking-solicitations>div nav ul {
    list-style: none;
}

#booking-solicitations>div nav ul a{
    text-decoration: none;
    color: var(--text-1-black);
}

#booking-solicitations a:focus{
    font-weight: 900;
    color: var(--scale-3-purple);
    outline: none
}

#booking-solicitations>div nav ul a li {
    display: flex;
    height: 40px;
    margin: 25px 28px;
    align-items: center;
}

#booking-solicitations>div nav ul a li {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-1-black);
}

#booking-solicitations > div article {
    width: 784px;
}


#booking-solicitations > div h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

#booking-solicitations > div article section ul {
    list-style: none;
    display: grid;
    grid-template-columns: 158px 158px 158px 158px 158px;
    margin-bottom: 10px;
}


#booking-solicitations > div article section ul li{
    font-size: 16px;
    font-weight: 600;
}

.booking-solicitations_confirmed_section_column {
    display: grid;
    grid-template-columns: 158px 158px 158px 158px 158px;
    align-items: center;
}

.booking-solicitations_confirmed_section_column > div {
    display: flex;
}

.booking-solicitations_confirmed_section_column > div h2 {
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}

.booking-solicitations_confirmed_section_column h4 {
    font-size: 13px;
    font-weight: 500;
    margin-top: 15px;
}

.booking-solicitations_confirmed_section_column > div button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 40px;
    align-items: center;
}

.calendar, .check, .close {
    font-size: 20px;
    color: white;
}

#calendar {
    background-color: var(--scale-2-purple);
    margin-right: 16px;
}

#check {
    background-color: var(--scale-8-blue);
    margin-right: 16px;
}

#delete {
    background-color: var(--scale-12-red);
}

hr {
    background-color: var(--gray-border);
}