body {
    font-family: var(--font-primary);
}

#booking-requests>div {
    position: relative;
    padding-top: 181px;
    padding-bottom: 80px;
    align-items: flex-start;
    justify-content: space-between;
}

/*Menu lateral*/
#come_back {
    display: flex;
    width: 64px;
    padding: 0;
    align-items: center;
    background-color: white;
    border: none;
    margin-bottom: 35px;
}

#come_back {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 600;
    color: var(--scale-13-blue);
}

#come_back img{
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: var(--text-1-black);
}

#booking-requests>div nav ul {
    list-style: none;
}

#booking-requests>div nav ul li {
    display: flex;
    padding: 10px;
    height: 40px;
    align-items: center;
}

.option-checked {
    border-left: 3px solid var(--scale-13-blue);
    font-size: 16px;
    font-weight: 600;
    color: var(--scale-13-blue);
}

.options_menu {
    font-size: 16px;
}

#booking-requests>div article {
    width: 784px;
}

.chooseOption {
    content: "";
    border-left: solid 0.2rem var(--scale-3-purple);
    height: 4.8rem;
    position: absolute;
    top: 0.4rem;
}

#booking-requests>div h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 35px;
}

#booking-requests>div article ul {
    list-style: none;
    display: grid;
    grid-template-columns: 158px 158px 158px 158px 158px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--gray-border);
}


#booking-requests>div article ul li {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #898989;
}

#booking-requests_section {
    display: grid;
    grid-template-columns: 158px 158px 158px 158px 158px;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--gray-border);
}

#booking-requests_section>div {
    display: flex;
    margin-top: 10px;
}

#booking-requests_section img {
    width: 45px;
    height: 45px;
}

#booking-requests_section>div h2 {
    font-size: 17px;
    font-weight: 600;
    margin-left: 10px;
}

#booking-requests_section p {
    font-size: 15.5px;
    font-weight: 400;
}

#booking-requests_section >div button {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar,
.check,
.close,
.rotate {
    font-size: 16px;
    color: white;
}

#calendar {
    background-color: var(--scale-2-purple);
    margin-right: 16px;
}

#check,
#renovation {
    background-color: var(--scale-8-blue);
    margin-right: 16px;
}

#delete {
    background-color: var(--scale-12-red);
}

.avaliation {
    background-color: var(--scale-2-purple);
    border: none;
    border-radius: 30px;
    height: 27px;
}

.avaliation {
    font-size: 14px;
    font-weight: 500;
    color: white;
}

section::after {
    content: "";
    border: 2px;
    color: aqua;
}

#confirmed,
#canceled,
#client-avaliation {
    display: none;
}

#container_popUp_avaliation-owner {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 9999;
}

.popUp_avaliation-owner {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 16px 16px 0 0;
    box-sizing: border-box;
    background: #B2B0FF;
    padding: 20px;
    width: 950px;
    padding: 40px 45px 15px 45px;
    animation: fadeIn ease .27s;
}

.popUp_flex {
    display: flex;
    top: 0;
}

.popUp_flex img {
    width: 200px;
    margin: -20px 50px 0 -10px
}

.popUp_flex div {
    width: 100%;
}

.popUp_flex label {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.rating {
    display: flex;
}

.rating input {
    display: none;
}

.rating label {
    display: block;
    cursor: pointer;
    margin-right: 15px;
    width: 28px;
}

.rating label:before {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 28px;
    color: white;
    text-shadow: 0 2px 2px rgb(128 128 128 / 10%);
}


.rating label:after {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    top: 0;
    display: block;
    font-size: 28px;
    color: var(--scale-15-yellow);
    opacity: 0;
    transition: .5s;
}

.rating label:hover:after,
.rating label:hover~label:after,
.rating input:checked~label:after {
    opacity: 1;
}

.popUp_flex textarea {
    border: 1px solid var(--gray-border);
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    resize: none;
    width: -webkit-fill-available;
    outline: none;
    margin-top: 15px;
}

.popUp_flex textarea {
    font-size: 16px;
}

.popUp_flex ~ div {
    display: flex;
    justify-content: flex-end;
}

#submit {
    background-color: var(--scale-2-purple);
    border: none;
    width: 150px;
    height: 32px;
    color: var(--white);
    border-radius: 30px;
}

#submit {
    font-size: 16px;
    font-family: var(--font-primary);
    font-weight: 500;
}


