body {
    font-family: var(--font-primary);
}

.container_search {
    display: none;
}

#edit-ad_section>div {
    padding: 220px 0 80px 0;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--text-1-black);
}


#edit-ad_section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 109.4em;
    width: calc(50% - 290px);
}


/*Menu lateral*/
#edit-ad_section a {
    text-decoration: none
}

#come_back {
    display: flex;
    width: 64px;
    padding: 0;
    align-items: center;
    background-color: white;
    border: none;
}

#come_back {
    font-family: var(--font-primary);
    font-size: 14px;
    color: var(--scale-13-blue);
}

.chevron_left {
    font-size: 25px;
    margin-right: 5px;
}

#edit-ad_section>div nav ul li {
    display: flex;
    height: 40px;
    margin: 25px 28px;
    align-items: center;
}

#edit-ad_section>div nav ul li {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-1-black);
}

/* .option_active a {
    border-left: 3px solid #5B61C4;
    font-size: 16px;
    font-weight: 600;
    color: var(--scale-13-blue);
} */

/*Conteúdo*/
#edit-ad_section>div>nav~div {
    width: 784px;
    margin-bottom: 80px;
}

.edit-ad_section_change-space {
    display: flex;
    justify-content: space-between;
}

.edit-ad_section_change-space h1 {
    font-size: 25px;
    font-weight: bold;
}

.edit-ad_section_change-space input {
    width: 180px;
    border: none;
    padding: 10px;
    resize: none;
    outline: none;
}

.edit-ad_section_change-space input {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 600;
    color: var(--text-1-black);
}


.select-box {
    display: flex;
    flex-direction: column;
}

.options-spaces,
.options-container,
.options-category,
.options-subcategory {
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border: 1px solid var(--gray-border);
    border-radius: 5px;
    overflow: hidden;
    order: 1;
}

.selected,
.selected-category,
.selected-subcategory {
    border: 1px solid var(--gray-border);
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
    order: 0;
}

.selected-space img,
.selected img,
.selected-category img,
.selected-subcategory img {
    content: "";
    background: url("../images/my-account/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 12px;
    right: 10px;
    top: 0px;

    transition: all 0.4s;
}

.select-box .options-spaces.active,
.select-box .options-container.active1,
.select-box .options-category.active2,
.select-box .options-subcategory.active3 {
    max-height: 100px;
    opacity: 1;
}

.select-box .options-spaces.active,
.select-box .options-category.active2,
.select-box .options-subcategory.active3 {
    overflow-y: scroll;
}

.option label {
    margin: 10px;
    height: 50px;
}

.select-box .options-spaces.active+.selected-space::after,
.select-box .options-container.active1+.selected::after,
.select-box .options-category.active2+.selected-category::after,
.select-box .options-subcategory.active3+.selected-subcategory::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box .options-spaces::-webkit-scrollbar,
.select-box .options-container::-webkit-scrollbar,
.select-box .options-category::-webkit-scrollbar,
.select-box .options-subcategory::-webkit-scrollbar {
    width: 8px;
    border-radius: 0 8px 8px 0;
}

.select-box .options-spaces::-webkit-scrollbar-thumb,
.select-box .options-container::-webkit-scrollbar-thumb,
.select-box .options-category::-webkit-scrollbar-thumb,
.select-box .options-subcategory::-webkit-scrollbar-thumb {
    border-radius: 0 8px 8px 0;
}

.select-box .option-space,
.select-space,
.option,
.selected,
.option-category,
.selected-category,
.option-subcategory,
.selected-subcategory {
    padding: 10px;
    cursor: pointer;
}

.select-box .option-space:hover,
.select-box .option:hover,
.select-box .option-category:hover,
.select-box .option-subcategory:hover {
    background: var(--scale-9-blue);
}

.select-box label {
    cursor: pointer;
}

.select-box .option-space .radio,
.option .radio1,
.option-category .radio2,
.option-subcategory .radio3 {
    display: none;
}

.change_space {
    width: 180px;
    height: 105px;
    border-radius: 5px;
    border: 1px solid var(--gray-border);
    box-sizing: border-box;
    margin-top: 10px;
    display: none;
    transform: translate(0px, -10px);
}

.space,
.type {
    padding: 10px 10px 0 10px;
    font-size: 14px;
    box-sizing: border-box;
    cursor: pointer;
}

.space:hover,
.type:hover {
    background-color: var(--scale-3-blue / 20%);
}

.typeEnvironment {
    width: 100%;
    height: 75px;
    border-radius: 5px;
    border: 1px solid var(--gray-border);
    box-sizing: border-box;
    margin-top: 10px;
    display: none;
    transform: translate(0px, -10px);
}

.edit-ad_section_form1 h2 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
}


.edit-ad_section_form1 label {
    display: flex;
    flex-direction: column;
    margin: 30px 0 10px 0;
}

.edit-ad_section_form1 label {
    font-size: 16px;
    font-weight: 500;
}

.edit-ad_section_form1 input,
textarea {
    border: 1px solid var(--gray-border);
    border-radius: 5px;
    padding: 10px;
    resize: none;
    width: -webkit-fill-available;
    outline: none;
}

.edit-ad_section input {
    font-family: var(--font-primary);
    font-size: 14px;
}

.edit-ad_section_form1-colum2 {
    display: grid;
    grid-template-columns: 379.5px 379.5px;
    grid-column-gap: 25px;
}

.edit-ad_section_flex,
.photos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#edit_photos {
    background-color: var(--scale-2-purple);
    border: none;
    width: 112px;
    height: 24px;
    color: var(--white);
    border-radius: 40px;
    margin-top: 40px;
}

#edit_photos {
    font-size: 14px;
    font-family: var(--font-primary);
    font-weight: 500;
}

.photos {
    margin-top: 30px;
}

#photo1,
#photo2,
#photo3 {
    border: 1px solid var(--gray-border);
    border-radius: 5px;
    padding: 10px;
    width: 162px;
    height: 131px;
}

.photos p {
    font-size: 16px;
    font-weight: 600;
}

.edit-ad_section_form1-colum2-dif1 {
    display: grid;
    grid-template-columns: 667px 91px;
    grid-column-gap: 25px;
}

#room {
    width: 120px;
    height: 30px;
    text-align: center;
    margin-top: 30px;
    border: none;
}

#room::placeholder {
    font-size: 18px;
    font-weight: 600;
    color: var(--scale-13-blue);
}


.edit-ad_section_form2 {
    border: 1px solid var(--gray-border);
    border-radius: 0 0 10px 10px;
    padding: 30px 20px 30px 20px;
}

.edit-ad_section_form2 h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.edit-ad_section_form2_flex {
    display: grid;
    grid-template-columns: 331px 331px;
    grid-column-gap: 80px;
    grid-template-rows: 50px;
    margin-bottom: 40px;
}

#price {
    background-color: var(--scale-13-blue);
    border-radius: 10px;
    border: none;
    padding: 15px;
    resize: none;
    outline: none;
}

#price {
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.edit-ad_section_form2_flex2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-ad_section_form2_flex2 img {
    margin-right: 5px;
}

.edit-ad_section_form2 label {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}


.edit-ad_section_form2 p {
    font-size: 14px;
    font-weight: 500;
    color: #8C8C8C;
    margin-bottom: 5px;
}

.dec_increment {
    display: flex;
    align-items: center;
    user-select: none;
}

.minus,
.plus {
    width: 35px;
    height: 35px;
    background: #fff;
    color: #8C8C8C;
    border: 2px solid ;
    border-radius: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.num {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 40px;
    background: #fff;
    border-radius: 15px;
    font-size: 14px;
    color: var(--text-1-black);
    font-weight: 600;
}

.minus span {
    display: flex;
    width: 8.8px;
    height: 1.5px;
    background: #8C8C8C;
}

.plus span:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 10px;
    height: 1.5px;
    background: #8C8C8C;
}

.plus span:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 1.5px;
    height: 10px;
    background: #8C8C8C;
}

#size_room {
    border: 1px solid var(--gray-border);
    border-radius: 5px;
    resize: none;
    outline: none;
    width: 110px;
    height: 50px;
}

#floatingSelect {
    border: 1px solid var(--gray-border);
    border-radius: 5px;
    padding: 18px 10px 0 10px;
    resize: none;
    outline: none;
    width: 110px;
    height: 50px;
}

.form-floating>.form-select {
    height: 100%;
}

.form-floating>label {
    padding: 15px 0 0 10px;
    font-size: 12px;
    font-weight: bold;
    color: var(--scale-13-blue);
    text-align: left;
}

.form-select,
.form-select option {
    font-size: 14px;
    border: none;
}

#edit_ad {
    background-color: var(--scale-2-purple);
    border: none;
    width: 226px;
    height: 36px;
    color: var(--white);
    border-radius: 40px;
}

#edit_ad {
    font-size: 14px;
    font-family: var(--font-primary);
    font-weight: 500;
    margin: 40px 0 0 558px;
}