#header div span {
    display: flex;
    align-items: center;
}

#container_menu{
    display: flex;
    align-items: center;
    position: relative;
}

#container_menu > a > button{
    width: 160px;
    height: 40px;
    background-color: var(--scale-2-purple);
    border: none;
    border-radius: 50px;
    margin-right: 40px;
}

#container_menu > a > button{
    font-size: 14.5px;
    font-weight: 600;
    color: white;
}

/*Menu lateral */ 
#my-account-menu {
    position: relative;
}

#my-account-menu ul {
    list-style: none;
    position: fixed;
}

#my-account-menu ul li {
    display: flex;
    height: 40px;
    margin-bottom: 25px;
    align-items: center;
}

#my-account-menu ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.option span {
    font-size: 16px;
    color: var(--text-1-black);
}

.option .icon {
    font-size: 30px;
    color: var(--gray-border);
    margin: 0 10px 0 20px;
}

.icon_ads {
    font-size: 25px;
    color: var(--gray-border);
    margin: 0 10px 0 20px;
}

.option_active {
    border-left: 3px solid #5B61C4;  
}  

.option_active a .icon {
    font-size: 30px;
    color: var(--scale-13-blue); 
    margin: 0 10px 0 20px;
}

.option_active a .icon_ads {
    font-size: 25px;
    color: var(--scale-13-blue); 
    margin: 0 10px 0 20px;

}

.option_active a span { 
    font-size: 16px;
    font-weight: 600;
    color: var(--scale-13-blue); 
}  

/*Menu - Mobile*/
#my-account-sidebar_mobile {
    position: fixed;
    display: flex;
    bottom: 0;
    background: var(--scale-9-blue);
    z-index: 9000;
    padding: 10px 0;
    width: 100%;
    box-shadow: rgb(0 0 0 / 8%) 1px 0 0;
}
 
#my-account-sidebar_mobile ul {
    display: flex; 
    width: 300px;
    justify-content: space-around;
    list-style: none;
}

#my-account-sidebar_mobile .icon { 
    width: 30px; 
} 

#my-account-sidebar_mobile .icon{
    font-size: 30px; 
    color: #9f9f9f;
}

#my-account-sidebar_mobile .icon-ads{
    font-size: 25px; 
    color: #9f9f9f;
}

#my-account-sidebar_mobile .icon-ads-active{
    color: var(--scale-13-blue);
}

#my-account-sidebar_mobile .icon-active{ 
    color: var(--scale-13-blue);
}
  


