body {
    font-family: var(--font-primary);
    list-style: none;
}

.container_search{
    display: none;
}

#my-profile_section1 {
    position: relative;
}

#my-profile_section1>div {
    padding: 181px 0 80px 0;
    justify-content: space-between;
    color: var(--text-1-black);
}

#my-profile_section1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(50% - 290px);
    background-color: var(--scale-9-blue);
}

/*Menu lateral*/
#my-profile_section1>div nav {
    position: relative;
}

#my-profile_section1>div nav ul {
    list-style: none;
}

#my-profile_section1>div nav ul li {
    display: flex;
    height: 40px;
    margin: 25px 0;
    align-items: center;
}

#my-profile_section1>div nav ul li a {
    text-decoration: none
}

.profile,
.wallet,
.reserve,
.ads,
.calendar {
    font-size: 26px;
}


.option_active a {
    border-left: 3px solid #5B61C4;
    font-size: 16px;
    font-weight: 600;
    color: var(--scale-13-blue);
}

.option a {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-1-black);
}

.profile {
    margin: 0 10px 0 18px;
}

.wallet,
.reserve,
.ads,
.calendar {
    color: var(--gray-border);
    margin: 0 10px 0 21px;
}

/*Conteúdo*/
#my-profile_section1>div>nav~div {
    width: 784px;
}

#my-profile_section1>div>div h1 {
    font-size: 25px;
    font-weight: bold;
}

#my-profile_section1>div h1~p {
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0 40px;
}


#my-profile_section1 form>div label {
    display: flex;
    flex-direction: column;
}

#my-profile_section1 form>div label {
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-primary);
}

#my-profile_section1 form>div textarea {
    margin: 10px 0 40px 0;
}


.form-control {
    border: 1px solid var(--gray-border);
    border-radius: 5px;
    padding: 11px;
    resize: none;
    font-size: 14.5px;
    font-family: var(--font-primary);
    width: -webkit-fill-available;
    color: var(--text-1-black);
}

.my-profile_section1-form-flex {
    display: flex;
    justify-content: space-between;
}


.my-profile_section1-form-flex>div:nth-child(1) {
    border: 1px solid var(--gray-border);
    border-radius: 5px;
    padding: 35px;
}

.my-profile_section1-form-flex>div:nth-child(1) p {
    font-size: 16px;
    font-weight: 400;
}

.my-profile_section1-form-flex>div:nth-child(1) h4 {
    font-size: 16px;
    font-weight: 600;
    font-family: var(--font-primary);
    margin: 28px 0 14px 0;
}

.my-profile_section1-form-flex>div:nth-child(1) ul {
    display: flex;
    list-style: none;
}

.my-profile_section1-form-flex>div:nth-child(1) ul li {
    width: 41px;
    height: 8px;
    margin-right: 6px;
    background-color: var(--scale-2-purple);
    border-radius: 16px;
}

.my-profile_section1-form-flex>div:nth-child(2) {
    width: 344px;
}

.my-profile_section1-form-flex>div:nth-child(2) h3 {
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-primary);
}


.my-profile_section1-form-flex>div:nth-child(2) p {
    font-size: 12px;
    margin-top: 5px;
}

#my-profile_section1-form2-url {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 20px;
}


#my-profile_section1-form2-url div{
    width: 100%;
}

.whats,
.face,
.linkedin {
    font-size: 2.5rem;
    justify-content: space-between;
}


#my-profile_section1-form2-url img,
.whats {
    color: #15cc3a;
    margin-right: 10px;
}

.face {
    color: #1749b3;
    margin-right: 5.5px;
}

.linkedin {
    color: #0c87c1;
    margin-right: 10px;
}


#edit_ad {
    background-color: var(--scale-2-purple);
    border: none;
    width: 226px;
    height: 36px;
    color: var(--white);
    border-radius: 40px;
}

#edit_ad {
    font-size: 14px;
    font-family: var(--font-primary);
    font-weight: 500;
    margin: 40px 0 0 558px;
}