#my-profile_section1 > div{
    padding-top: 181px;
    justify-content: space-between;
    color: var(--text-1-black);
}

/*Menu lateral - fixo*/
/* #my-profile_section1-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: calc(50% - 290px);
    background-color: var(--scale-9-blue);
}

#my-profile_section1 > div nav {
    position: relative;
}

#my-profile_section1 > div nav ul{
    list-style: none;
}

#my-profile_section1 > div nav ul li{
    display: flex;
    margin: 40px 0;
    align-items: center;
}

#my-profile_section1 > div nav li {
    font-size: 18px;
    font-weight: 400;
}

#my-profile_section1 > div nav li img {
    margin-right: 10px;
}

/*Conteúdo*/
#my-profile_section1 > div > nav ~ div{
    width: 784px;
}

#my-profile_section1 > div > div h1{
    font-size: 25px;
    font-weight: bold;
}

#my-profile_section1 > div h1 ~ p {
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0 40px;
}


#my-profile_section1 form > div label{
    display: flex;
    flex-direction: column;
}

#my-profile_section1 form > div label {
    font-size: 20px;
    font-weight: 600;
}

#my-profile_section1 form > div textarea {
    margin: 10px 0 40px 0;
}


#my-profile_section1 form > div textarea, input{
    border: 1px solid var(--gray-border);
    border-radius: 5px;
    padding: 15px;
    resize: none;
    font-size: 14px;
    width: -webkit-fill-available;
}

.my-profile_section1-form-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}


.my-profile_section1-form-flex > div:nth-child(1){
    width: 234px; 
    border: 1px solid var(--gray-border);
    border-radius: 5px;
    padding: 35px 35px 0 35px
}

.my-profile_section1-form-flex > div:nth-child(1) p{
    font-size: 16px;
    font-weight: 400;
}

.my-profile_section1-form-flex > div:nth-child(1) h4{
    font-size: 16px;
    font-weight: 600;
    margin: 22px 0 10px 0;
}

.my-profile_section1-form-flex > div:nth-child(1) ul{
    display: flex;
    list-style: none;
}

.my-profile_section1-form-flex > div:nth-child(1) ul li {
    width: 41px;
    height: 8px;
    margin-right: 6px;
    background-color: var(--scale-2-purple);
    border-radius: 16px;
}

.my-profile_section1-form-flex > div:nth-child(2){
    width: 344px; 
}

.my-profile_section1-form-flex > div:nth-child(2) p{
    font-size: 12px;
    margin-top: 5px;
}

#my-profile_section1-form2-url {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.whats, .face {
    font-size: 2.5rem;
    justify-content: space-between;
    align-items: center;
}

#my-profile_section1-form2-url img, .whats {
    color: #1BD741;
    margin-right: 10px;
}

.face {
    color: #0000FF;
    margin-right: 5px;
}








