#notifications_section1 > div {
    padding-top: 181px;
    justify-content: space-between;
    color: var(--text-1-black);
} 

/*Conteúdo*/
#notifications_section1>div>div h1 {
    font-size: 25px;
    font-weight: bold;
}

#notification_navigation ul {
    display: flex;
    margin-top: 20px;
    list-style: none;
}

#notification_navigation ul li{
    font-size: 16px;
    margin-right: 40px;
}

#my-profile_section1-notification{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}

#my-profile_section1-notification img{
    margin-right: 30px;
}

#my-profile_section1-notification > div > div {
    display: flex;
    justify-content: space-between;
}

#my-profile_section1-notification > div > div h2{
    font-size: 18px;
    font-weight: 600;
}

#my-profile_section1-notification > div > div h2 ~ div {
    width: 78px;
    height: 22px;
    background-color: var(--scale-11-blue);
    border-radius: 20px;
}

#my-profile_section1-notification > div > div > div h3{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 2.5px;
}

#my-profile_section1-notification > div > div p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

#my-profile_section1-notification > div > div h4{
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    margin-top: 32px;
}
 
