#notifications_section1 > div {
    padding-top: 181px;
    flex-direction: column;
    align-items: flex-start;
    color: var(--text-1-black);
} 

/*Conteúdo*/
#notifications_section1>div h1 {
    font-size: 25px;
    font-weight: bold;
}

#notifications_section1>div nav{
    width: 100%;
    border-bottom: 1px solid var(--gray-border);
    padding-bottom: 7px;
}

#notifications_section1>div nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 30%;
    margin: 20px 0 0 0;
}

#notification_section1 a{
    text-decoration: none;
    color: var(--text-1-black)
}

#notification_navigation ul li{
    font-size: 16px;
}

#notifications_section1 > div > article > select{
    font-family: var(--font-primary);
    font-size: 14px;
    padding: 0 15px;
    width: 176px;
    height: 32px;
    border-radius: 30px;
    border: 1px solid var(--scale-7-blue);
}


/* Articles dinâmicos*/
#last-notifications{
    display: block;
    /* background-color: brown; */
}

#unread-notifications {
    display: none;
    /* background-color: aquamarine; */
}

#read-notifications{
    display: none;
    /* background-color: aliceblue; */
}

#my-profile_section1-notification{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}

#my-profile_section1-notification img{
    margin-right: 30px;
}

#my-profile_section1-notification > div > div {
    display: flex;
    justify-content: space-between;
}

#my-profile_section1-notification > div > div h2{
    font-size: 18px;
    font-weight: 600;
}

#my-profile_section1-notification > div > div h2 ~ div {
    width: 78px;
    height: 22px;
    background-color: var(--scale-11-blue);
    border-radius: 20px;
}

#my-profile_section1-notification > div > div > div h3{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 2.5px;
}

#my-profile_section1-notification > div > div p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

#my-profile_section1-notification > div > div h4{
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    margin-top: 32px;
}
 
