nav{
    width: 100%;
    border-bottom: 1px solid var(--gray-border);
    padding-bottom: 7px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 30%;
    margin: 20px 0 0 0;
}

a{
    text-decoration: none;
    color: var(--text-1-black)
}

#notifications_section1{
    padding-top: 193px;
}

#notifications_section1 > div{
    flex-direction: column;
    align-items: flex-start;
}

#notifications_section1 > div > article > select{
    font-family: var(--font-primary);
    font-size: 14px;
    padding: 0 15px;
    width: 176px;
    height: 32px;
    border-radius: 30px;
    border: 1px solid var(--scale-7-blue);
}

/* Articles dinâmicos*/
#last-notifications{
    display: block;
    /* background-color: brown; */
}

#unread-notifications {
    display: none;
    /* background-color: aquamarine; */
}

#read-notifications{
    display: none;
    /* background-color: aliceblue; */
}
