body {
    font-family: var(--font-primary);
    line-height: var(--bs-body-line-height);
}

.container_search {
    display: none;
}

#personal-date_section1 {
    position: relative;
}

#personal-date_section1>div {
    padding: 220px 0 80px 0;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--text-1-black);
}


#personal-date_section1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(50% - 290px);
    background-color: var(--scale-9-blue);
}


/*Menu lateral*/
#personal-date_section1>div nav {
    position: relative;
    overflow: auto;
}

#personal-date_section1>div nav ul {
    list-style: none;
}

#personal-date_section1>div nav ul li {
    display: flex;
    height: 40px;
    margin: 25px 0;
    align-items: center;
}

#personal-date_section1>div nav ul li a {
    text-decoration: none
}

.profile,
.wallet,
.reserve,
.ads,
.calendar {
    font-size: 26px;
}


.option_active a {
    border-left: 3px solid #5B61C4;
    font-size: 16px;
    font-weight: 600;
    color: var(--scale-13-blue);
}

.option a {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-1-black);
}

.wallet {
    margin: 0 10px 0 18px;
}

.profile,
.reserve,
.ads,
.calendar {
    color: var(--gray-border);
    margin: 0 10px 0 21px;
}

/*Conteúdo*/
#personal-date_section1>div>nav~div {
    width: 784px;
    margin-bottom: 80px;
}

#personal-date_section1>div>div h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -10px;
}

#personal-date_section1>div>div form h2 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
}

#personal-date_section1 form>div>div label {
    display: flex;
    flex-direction: column;
    margin: 30px 0 10px 0;
}

#personal-date_section1 form>div>div label {
    font-size: 16px;
    font-weight: 500;
}

#personal-date_section1 form>div>div input {
    border: 1px solid var(--gray-border);
    border-radius: 5px;
    padding: 10px;
    resize: none;
    width: -webkit-fill-available;
    outline: none;
}

#personal-date_section1 form>div input {
    font-family: var(--font-primary);
    font-size: 14px;
}

.personal-date_section1_form-colum2 {
    display: grid;
    grid-template-columns: 379.5px 379.5px;
    grid-column-gap: 25px;
}

.select-box {
    display: flex;
    width: 379.5px;
    flex-direction: column;
}

.select-box .options-container {
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border: 1px solid var(--gray-border);
    border-radius: 5px;
    order: 1;
}

.selected {
    border: 1px solid var(--gray-border);
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
    order: 0;
}


.selected img {
    content: "";
    background: url("../images/my-account/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 12px;
    right: 10px;
    top: 0px;
  
    transition: all 0.4s;
  }

.select-box .options-container.active {
    max-height: 100px;
    opacity: 1;
}

.option label {
    margin: 10px;
    height: 50px;
}

.select-box .options-container.active+.selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
    padding: 10px;
    cursor: pointer;
}

.select-box .option:hover {
    background: var(--scale-9-blue);
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}

#password {
    font-size: 14px;
    color: var(--text-1-black);
}

.personal-date_section1_form-colum2-dif1 {
    display: grid;
    grid-template-columns: 505px 253px;
    grid-column-gap: 25px;
}

.personal-date_section1_form-colum2-dif2 {
    display: grid;
    grid-template-columns: 667px 91px;
    grid-column-gap: 25px;
}

#edit_ad {
    background-color: var(--scale-2-purple);
    border: none;
    width: 226px;
    height: 36px;
    color: var(--white);
    border-radius: 40px;
}

#edit_ad {
    font-size: 14px;
    font-family: var(--font-primary);
    font-weight: 500;
    margin: 40px 0 0 558px;
}