#personal-date_section1 > div{
    padding-top: 181px;
    justify-content: space-between;
    color: var(--text-1-black);
}

/*Menu lateral - fixo*/
#personal-date_section1-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: calc(50% - 290px);
    background-color: var(--scale-9-blue);
}

#personal-date_section1 > div nav {
    position: relative;
}

#personal-date_section1 > div nav ul{
    list-style: none;
}

#personal-date_section1 > div nav ul li{
    display: flex;
    margin: 40px 0;
    align-items: center;
}

#personal-date_section1 > div nav li {
    font-size: 18px;
    font-weight: 400;
}

#personal-date_section1 > div nav li img {
    margin-right: 10px;
}

/*Conteúdo*/
#personal-date_section1 > div > div h1{
    font-size: 25px;
    font-weight: bold;
}

#personal-date_section1 > div > div form{
    width: 800px;
}

#personal-date_section1 > div > div form h2{
    font-size: 18px;
    font-weight: 600;
    margin: 30px 0 0 0;
}

#personal-date_section1 form > div label{
    display: block;
    margin: 20px 0 10px;
}

#personal-date_section1 form > div label{
    font-size: 16px;
    font-weight: 500;
}

#personal-date_section1 form > div input, select{
    border: 1px solid var(--gray-border);
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

#personal-date_section1 form > div input, select{
    font-family: var(--font-primary);
    font-size: 16px;
}

.personal-date_section1_form-colum2 {
    display: flex;
    flex-direction: row;
}

#edit_ad {
    background-color: var(--scale-2-purple);
    border: none;
    width: 226px;
    height: 36px;
    color: var(--white);
    border-radius: 40px;
}

#edit_ad {
    font-size: 16px;
    font-family: var(--font-primary);
    font-weight: 500;
    margin: 40px 0;
}