#my-account-sidebar_mobile {
    display: none;
}

#personal-date {
    position: relative;
}

#personal-date>div {
    padding: 180px 0 80px 0;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--text-1-black);
}

#personal-date::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(50% - 280px);
    background-color: var(--scale-9-blue);
}

/*Dados pessoais: conteúdo*/
#personal-date_section1 {
    width: 744px; 
}

#personal-date_section1 h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -10px;
}

#personal-date_section1 form h2 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
}

#personal-date_section1 form>div label {
    display: flex;
    flex-direction: column;
    margin: 30px 0 10px 0;
}

#personal-date_section1 form>div label {
    font-size: 16px;
    font-weight: 500;
}

#personal-date_section1 form>div input {
    border: 1px solid var(--gray-border);
    border-radius: 5px;
    padding: 10px;
    resize: none;
    width: -webkit-fill-available;
    outline: none;
}

#personal-date_section1 form>div input {
    font-family: var(--font-primary);
    font-size: 14px;
}

.personal-date-grid2{
    display: grid;
    grid-template-columns: 359.5px 359.5px;
    grid-column-gap: 25px;
    position: relative;
}

.select-box {
    display: flex;
    width: 359.5px;
    flex-direction: column;
    position: absolute;
    right: 0;
}

.select-box .options-container {
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border: 1px solid var(--gray-border);
    border-radius: 5px;
    order: 1;
}

.selected {
    border: 1px solid var(--gray-border);
    border-radius: 5px;
    margin-bottom: 8px;
    position: relative;
    order: 0;
}

.selected img {
    position: absolute;
    height: 100%;
    width: 12px;
    right: 10px;
    top: 0px;
    transition: all 0.4s;
}

.select-box .options-container.active {
    max-height: 100px;
    opacity: 1;
    background-color: white;
}

.option label {
    margin: 10px;
    height: 50px;
}

.select-box .options-container.active+.selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
    padding: 10px;
    cursor: pointer;
}

.select-box .option:hover {
    background: #f1f6ff;
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}

#password {
    font-size: 14px;
    color: var(--text-1-black);
}

.personal-date_section1_form-colum2-dif1 {
    display: grid;
    grid-template-columns: 440px 279px;
    grid-column-gap: 25px;
}

.personal-date-grid2-dif {
    display: grid;
    grid-template-columns: 628px 91px;
    grid-column-gap: 25px;
}

#justify {
    display: flex;
    justify-content: end;
}

#edit_ad {
    background-color: var(--scale-2-purple);
    border: none;
    width: 226px;
    height: 36px;
    color: var(--white);
    border-radius: 40px;
}

#edit_ad {
    font-size: 14px;
    font-family: var(--font-primary);
    font-weight: 500;
    margin: 40px 0 0 0;
}

@media(min-width: 300px) and (max-width: 480px){
    #header>div a img {
        width: 80%;
    }

    #container_search, 
    #menu {
        display: none;
    } 

    #container_menu > a > button {  
        height: 36px;
        margin: 0;
        font-size: 13.5px;
    }

    #my-account-sidebar_mobile {
        display: block;
    }
 
    main #personal-date::before { 
        display: none;
    } 

    main #personal-date nav { 
        display: none;
    } 

    main #personal-date>div {
        padding-top: 130px; 
        margin: 0 8px;
        width: 96.3%;
    } 
    
    main #personal-date_section1 {
        width: 100%;
    }

    main #personal-date_section1 h1 {
        font-size: 23px; 
    }

    form .personal-date-grid2 {
        display: flex;
        flex-direction: column;
    }

    .select-box {
        display: flex;
        width: 100%;
        flex-direction: column;
        position: relative; 
    }

    .personal-date-grid2-dif {
        display: grid;
        grid-template-columns: 74% 21%;
        grid-column-gap: 5%;
    }
   
    footer h5,
    footer ul li,
    #scroll_up {
        display: none;
    }
}

@media(min-width: 481px) and (max-width: 841px) {
    #header>div a img {
        width: 80%;
    }

    #container_search, 
    #menu {
        display: none;
    } 

    #container_menu > a > button {  
        height: 36px;
        margin: 0;
        font-size: 14px;
    }

    #my-account-sidebar_mobile {
        display: block;
    }

    main #personal-date {
        position: relative;
        width: 100%;
    }

    main #personal-date::before { 
        display: none;
    } 

    main #personal-date nav { 
        display: none;
    } 

    main #personal-date>div {
        padding-top: 130px; 
    }
    
    main #personal-date_section1 {
        width: 100%;
    }

    main #personal-date_section1 h1 {
        font-size: 23px; 
    }

    form .personal-date-grid2 {
        grid-template-columns: 47.5% 47.5%;
        grid-column-gap: 5%;
    }

    .select-box { 
        width: 47.5%; 
        right: 0;
        position: absolute;
    }

    .personal-date-grid2-dif {
        display: grid;
        grid-template-columns: 74% 21%;
        grid-column-gap: 5%;
    }
   
    footer h5,
    footer ul li,
    #scroll_up {
        display: none;
    }
}

@media(min-width: 841px) and (max-width: 1000px) { 
    main #personal-date {
        position: relative;
        width: 100%;
    }

    main #personal-date::before { 
        width: 28%; 
    }  

    .option a { 
        font-size: 14px; 
    }
    
    .option_active a { 
        font-size: 14px; 
    }
    
    main #personal-date_section1 {
        width: 68%;
    }

    main #personal-date_section1 h1 {
        font-size: 23px; 
    }

    form .personal-date-grid2 {
        grid-template-columns: 47.5% 47.5%;
        grid-column-gap: 5%;
    }

    .select-box { 
        width: 47.5%; 
        right: 0;
        position: absolute;
    }

    .personal-date-grid2-dif {
        display: grid;
        grid-template-columns: 74% 21%;
        grid-column-gap: 5%;
    }
   
    #logo { 
        max-width: 275px;
    }

    footer ul h5 {
        font-size: 17px; 
    }
}


