<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Central</h1>
    <%
    if(autenticado){
        %>
        <span>Olá <%=autenticado %>!</span>
        <%
    
    }else{
    %>
    <span>Olá visitante!</span>
    <%
    }
    %>
     <p><a href="/sair">sair</a></p>
    <h1>Autenticação e autorização</h1>

        <p>
            <a href="/login">Login</a>
        </p>
        <p>
            <a href="/cadastro">Cadastro</a>
        </p>
        <p>
            <a href="/adm">Administrador</a>
        </p>
</body>
</html>