<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo.css">
    <style>
         button{
            margin: 10px 0;
            cursor: pointer;
        }
    </style>
</head>

<body>

    <main>

        <div class="login-page">
            <div class="form-cadastro">
                <h2>Login</h2>
                <form action="/login" method="post">
                    <input type="text" name="dadosuser" placeholder="E-mail" /><br>
                    <input type="password" name="senha" placeholder="senha" /><br>
                    <button type="submit">Entrar</button><br>
                </form>
                <p class="message">Não é cadastrado? <a href="/cadastro">Crie uma conta</a></p>
            </div>
        </div>


    </main>

</body>

</html>