/* PERTENCENTE AO PARTIAL*/
header > div > div{
    display: flex;
    width: 210px;
    justify-content: space-between;
}

header > div > div > a > button{
    width: 95px;
    height: 40px;
    border-radius: 20px;
    background-color: #e8e8e8;
    color: #333333;
    border: none;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

body{    
    background: linear-gradient(to left, var(--white) 50%, var(--scale-4-blue) 50%);
    background-repeat: no-repeat;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-room_section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 105px;
    height: calc(100vh - 105px);
}

#add-room_section > div{
    justify-content: space-between;
}

#add-room_section > div > h1{
    color: var(--white);
    font-size: 40px;
    max-width: 475px;
    margin-top: 30px;
}

#rooms{
    overflow-y: auto;
    height: calc(100vh - 400px);
    width: 50%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
}

#rooms > div{
    border: 1px solid var(--gray-border);
    border-radius: 20px;
    width: calc(100% - 40px);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;       
    background: #ececec;
    color: var(--text-1-black);
    font-size: 16px;
    font-weight: 600;
    transition: 500ms ease-in-out;
}

#rooms > div:hover{
    background: #dadada;
}

#rooms > div:visited{
    background: #dadada;
    transition: 500ms ease-in-out;
}