.container_search{
    display: none;
}

#add_room_section{
    padding-top: 143px;
    display: flex;
    align-items: center;
    flex-direction: column;/*Quando eu tirei daqui, o site quebrou. Por quê? */
}

#add_room_section > div{
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

#add_room_section > div > :first-child{
    display: flex;
    align-items: center;
}

#add_room_section > div > :first-child p{
    font-size: 14px;
}

#add_room_section > div > div > h1{
    font-size: 30px;
    font-weight: 700;
}

#add_room_section > div img{
    margin-right: 30px;
}

#alignH1{
    padding-top: 20px;
}

#add{
    border: 1px solid var(--gray-border);
    border-radius: 20px;
    text-align: center;
    padding: 62px 78px;
    margin-top: 72px;
}

#add_room_section > div > div p{
    max-width: 130px;
    font-size: 25px;
}

#add_room_section > div > div > button{
    width: 186px;
    height: 36px;
    background-color: var(--scale-2-purple);
    border-style: none;
    border-radius: 20px;
    color: var(--white);
    margin-top: 60px;
}

#add_room_section > div > :last-child{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}