body{
    background: linear-gradient(to left, var(--white) 50%, var(--scale-4-blue) 50%);
    background-repeat: no-repeat;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.default_margin{
    justify-content: space-between;
    align-items: center;
}

#localization_section{
    margin-top: 105px;
    height: calc(100vh - 105px);
    max-height: 1050px;
}

#localization_section > div > div > p{
    color: #fff;
    font-size: 14px;
    max-width: 370px;
    margin-top: 20px;
}

h1{
    max-width: 350px;
    font-size: 40px;
    color: var(--white);
}

#map{
    width: 100vw;
    left: 50%;
    position: fixed;
    height: 100vh;
    max-height: calc(1000px - 105px);
    position: fixed;
}

iframe{
    width: 100vh;
    height: 100%; /*Por que ele não toma o total das telas maiores?*/
    max-height: 1050px;
    position: fixed;
    left: 50%;
    top: 99px;
}