.container_search{
    display: none;
}

body{
    background: linear-gradient(to left, var(--white) 50%, var(--scale-4-blue) 50%);
    background-repeat: repeat-y;
}

main{
    height: 100vh;
    max-height: 1050px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

ul{
    list-style: none;
    position: relative;
}

#officing_features_section{
    display: flex;
    justify-content: center;
}

#officing_features_section > div{
    justify-content: space-between;
}

#officing_features_section > div > div > h1{
    color: var(--white);
    font-size: 40px;
    font-weight: 700;
    max-width: 435px;
    position: fixed;
    top: 50%;
}

#officing_features_section > div > form{
    width: 450px;
}

#officing_features_section h2{
    font-size: 22px;
    font-weight: 500;
}

#roomSize{
    border: 1px solid var(--gray-border);
    padding: 7px 7px 7px 12px;
    border-radius: 10px;
    font-size: 14px;
    font-family: var(--font-primary);
    max-width: 80px;
}

.hintText{
    font-size: 12px;
    color: var(--text-3-black);
    margin-top: 5px;
}

.liAlign{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 26px;
}

#private-bathrooms{
    margin-top: 9px;
}

#private-bathrooms > p{
    font-weight: 400;
}

#liAlign2{
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.label-yn{
    font-size: 12px;
}

input[type="radio"]{
    margin-right: 5px;
}

.align-button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
}

.button{
    background-color: var(--scale-2-purple);
    width: 186px;
    height: 36px;
    border: none;
    border-radius: 20px;
    color: var(--white);
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
    right: 0;
}



/* input[type="submit"]{
    background-color: var(--scale-2-purple);
    width: 186px;
    height: 36px;
    border: none;
    border-radius: 20px;
    color: var(--white);
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 600;
    margin: 50px 0 0 157px;
} */

#second-step > ul{
    padding-top: 50%;
}

#second-step > ul > li{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid var(--gray-border);
    border-radius: 20px;
    padding: 14px 0 14px 18px;
}

#second-step > ul > li > p{
    font-size: 18px;
    font-weight: 500;
}

.feature-icon{
    width: 32px;
    height: 31px;
    margin: 0;
    padding: 0;
    margin-right: 30px;
}

