body{
    background: linear-gradient(to left, var(--white) 50%, var(--scale-4-blue) 50%);
}

h2{
    font-size: 18px;
    color: var(--text-1-black);
}



#photos_section{
    padding-top: 105px;
    height: calc(100vh - 105px);
    max-height: 1050px;
}

#photos_section > div{
    justify-content: space-between;
}

#photos_section > div > h1{
    font-size: 40px;
    color: white;
    max-width: 420px;
}

#space-photos{
    width: calc(50% - 40px);    
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 105px);
    margin-top: 98px;
}

#space-photos > :first-child{
    padding-bottom: 20px;
}

#space-photos > div > ul{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    list-style: none;
    flex-wrap: wrap;
}

#slideshow{
    width: 500px;
    height: 303px;
    border: 1px solid var(--gray-border);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#slideshow > img{
    margin-bottom: 12px;
}

#slideshow > p{
    color: rgba(51, 51, 51, 0.7);
}

form{
    display: grid;
    grid-template-areas: "photo1 photo1"
    "photo2 photo3";
    gap: 20px;
    width: 100%;
}

.hide{
    display: none;
}

.image{
    border: 1px dashed var(--gray-border);
    border-radius: 20px;
    /* aspect-ratio: 16 / 9; */
}

.image:first-child{
    height: 300px 
}

.image:nth-child(3){
    height: 180px;
}

.photo1{
    grid-area: photo1;
}

.photo2{
    grid-area: photo2;
}

.photo3{
    grid-area: photo3;
}

