

    <div class="default_margin">
        <div id="margin2">
            <div id="logo">
                <img src="images/default/logo_footer.svg" alt="logo">
                <h4>Escritorizando <span><br>espaços </span></h4>
                <span>Umbrella Officing&copy 2022</span>
            </div>

            <ul>
                <h5>Junte-se a nós</h5>
                <li><a href="/">Home</a></li>
                <li class="list popUp-login-signUp"><a href="#">Cadastre-se</a></li>
                <li class="popUp-login-signUp list"><a href="#">Acesse sua conta</a></li>
                <li><a href="#">Faça sua reserva</a></li>
                <li><a href="#">Anuncie seu espaço</a></li>
            </ul>

            <ul>
                <h5>Nossos serviços</h5>
                <li><a href="/encontrar-espacos">Faça sua reserva</a></li>
                <li><a href="#">Anuncie seu espaço</a></li> 
            </ul>

            <ul>
                <h5>Atendimento</h5>  
                <li><a href="/central-de-ajuda">Central de ajuda</a></li>
            </ul>

        </div>
        <div id="bottom_footer">
            <div>
                <div id="network_div">
                    <img src="images/default/icon_intagram_footer.svg" alt="Ícone do instagram">
                    <img src="images/default/icon_facebook_footer.svg" alt="Ícone do facebook">
                    <img src="images/default/icon_whats_footer.svg" alt="Ícone do WhatsApp">
                </div>

                <div id="scroll_up">
                    <img src="images/default/arrow_up.svg" alt="Ícone de flecha">
                </div>
            </div>

        </div>
