<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="style/default/default.css">
    <link rel="stylesheet" href="style/my-account/booking-requests.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css"
        crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e4e1096c30.js" crossorigin="anonymous"></script>
</head>

<body>
    <header id="header" class="container_margin_default">
        <div class="default_margin">
            <a href="/"> <img src="images/default/logo.svg" alt="logo"> </a>
            <div>
                <ul id="type_office">
                    <li class="option_office checked">Espaço adaptado</li>
                    <li class="option_office">Espaço corporativo</li>
                </ul>
                <div class="container_search">
                    <span id="search_txt">Busque locais para trabalho</span>
                    <div id='container_informations_find_coworking'>
                        <input id="localization" type="text" placeholder="Localização:">
                        <input type="date" id="check_in">
                    </div>
                    <a href="#">
                        <div>
                            <img src="images/default/search.svg" alt="pesquisa">
                        </div>
                    </a>
                </div>
            </div>

            <div id="menu">
                <div id='menu_sign-in-up'>
                    <img src="images/default/user.svg" alt="usuário">
                    <img src="images/default/menu_hamburguer.svg" alt="menu">
                </div>
                <div class="menu_open">
                    <div>
                        <img src="images/default/perfil.svg" alt="foto de perfil">
                        <h3>Luana Almeida <span>Coworker</span></h3>
                    </div>
                    <div>
                        <nav>
                            <ul>
                                <li>
                                    <img src="images/default/my-perfil.png" alt="meu perfil">
                                    My profile
                                </li>
                                <li>
                                    <img src="images/default/favorite.png" alt="favoritos">
                                    Favoritos
                                </li>
                                <li>
                                    <img src="images/default/question.png" alt="suporte">
                                    Help & Support
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div>
                        <img src="images/default/log-out.png" alt="sair da conta">
                        Logout
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id='box_black'></div>

    <main>
        <div id="booking-requests" class="container_margin_default">
            <div class="default_margin">
                <nav>
                    <a href="/meus-anuncios"><button id="come_back">
                            <img src="images/my-account/booking-solicitations/arrow-blue.svg" alt="Seta para voltar">
                            Voltar
                        </button>
                    </a>
                    <ul>
                        <a href="javascript:requests(1)" chooseOption>
                            <li class="option_menu">
                                Confirmação <br>pendente
                            </li>
                        </a>
                        <a href="javascript:requests(2)">
                            <li class="option_menu">
                                Confirmadas
                            </li>
                        </a>
                        <a href="javascript:requests(3)">
                            <li class="option_menu">
                                Canceladas
                            </li>
                        </a>
                        <a href="javascript:requests(4)">
                            <li class="option_menu">
                                Avaliação do cliente
                            </li>
                        </a>
                    </ul>
                </nav>

                <div>
                    <h1>Solicitações de reservas</h1>

                    <article id="pending-confirmation">
                        <ul>
                            <li>Perfil</li>
                            <li>Espaço</li>
                            <li>Sala</li>
                            <li>Dias</li>
                            <li>Ações</li>
                        </ul>
                        <section id="booking-requests_section">
                            <div>
                                <img src="images/my-account/booking-solicitations/persona_larissa.png" alt="Usuário">
                                <h2>Larissa Ferreira</h2>
                            </div>

                            <p>Escritório Lape</p>
                            <p>Sala 02</p>
                            <p>3 dias</p>

                            <div>
                                <button type="submit" id="calendar">
                                    <a href=""><i class="fa-solid fa-calendar calendar"></i></a></i>
                                </button>
                                <button type="submit" id="check">
                                    <i class="fa-solid fa-check check"></i>
                                </button>
                                <button type="submit" id="delete">
                                    <i class="fa-solid fa-xmark close close"></i>
                                </button>
                            </div>
                            <h4>Solicitada: 24/04/2022</h4>
                        </section>
                    </article>

                    <article id="confirmed">
                        <ul>
                            <li>Perfil</li>
                            <li>Espaço</li>
                            <li>Sala</li>
                            <li>Próxima visita</li>
                            <li>Ações</li>
                        </ul>
                        <section id="booking-requests_section">
                            <div>
                                <img src="images/my-account/booking-solicitations/persona_rodrigo.png" alt="Usuário">
                                <h2>Rodrigo Queiroz</h2>
                            </div>

                            <p>Escritório Lape</p>
                            <p>Sala 02</p>
                            <p>Hoje</p>

                            <div>
                                <button type="submit" id="calendar">
                                    <a href=""><i class="fa-solid fa-calendar calendar"></i></a></i>
                                </button>
                                <button type="submit" id="delete">
                                    <i class="fa-solid fa-xmark close close"></i>
                                </button>
                            </div>
                            <h4>Solicitada: 24/04/2022</h4>
                        </section>
                    </article>

                    <article id="canceled">
                        <ul>
                            <li>Perfil</li>
                            <li>Espaço</li>
                            <li>Sala</li>
                            <li>Próxima visita</li>
                            <li>Ações</li>
                        </ul>

                        <section id="booking-requests_section">
                            <div>
                                <img src="images/my-account/booking-solicitations/persona_rodrigo.png" alt="Usuário">
                                <h2>Rodrigo Queiroz</h2>
                            </div>

                            <p>Escritório Lape</p>
                            <p>Sala 02</p>
                            <p>Hoje</p>

                            <div>
                                <button type="submit" id="calendar">
                                    <a href=""><i class="fa-solid fa-calendar calendar"></i></a></i>
                                </button>
                                <button type="submit" id="renovation">
                                    <a href=""><i class="fa-solid fa-rotate rotate"></i></i></a></i>
                                </button>
                                <button type="submit" id="delete">
                                    <i class="fa-solid fa-xmark close close"></i>
                                </button>
                            </div>
                            <h4>Solicitada: 24/04/2022</h4>
                        </section>
                    </article>

                    <article id="client-avaliation">
                        <ul>
                            <li>Perfil</li>
                            <li>Espaço</li>
                            <li>Sala</li>
                            <li>Próxima visita</li>
                            <li>Ações</li>
                        </ul>

                        <section id="booking-requests_section">
                            <div>
                                <img src="images/my-account/booking-solicitations/persona_rodrigo.png" alt="Usuário">
                                <h2>Rodrigo Queiroz</h2>
                            </div>

                            <p>Escritório Lape</p>
                            <p>Sala 02</p>
                            <p>Hoje</p>

                            <button type="submit" class="avaliation">Avaliar cliente</button>
                            <h4>Solicitada: 24/04/2022</h4>
                        </section>
                    </article>

                    <div id="container_popUp_avaliation-owner">
                        <div class="popUp_avaliation-owner">
                            <form action="" method="">
                                    <div class="popUp_flex">
                                        <img src="images/my-account/reservations/cancel_reservations2.png">
                                        <div>
                                            <label for="comment1">Avalie o espaço</label>

                                            <div class="rating">
                                                <input type="radio" name="star" id="star1">
                                                <label for="star1"></label>

                                                <input type="radio" name="star" id="star2">
                                                <label for="star2"></label>

                                                <input type="radio" name="star" id="star3">
                                                <label for="star3"></label>

                                                <input type="radio" name="star" id="star4">
                                                <label for="star4"></label>

                                                <input type="radio" name="star" id="star5">
                                                <label for="star5"></label>
                                            </div>

                                            <textarea name="comment1" id="comment1" rows="2"
                                                placeholder="Comente aqui (opcional)" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div>
                                        <button id="submit">Enviar</button>
                                    </div> 
                            </form>

                        </div>
                    </div>
                </div>
            </div>
    </main>


    <footer class="container_margin_default">

        <div class="default_margin">
            <div id="margin2">
                <div id="logo">
                    <img src="images/default/logo_footer.svg" alt="logo">
                    <h4>Escritorizando <span><br>espaços </span></h4>
                    <span>Umbrella Officing&copy 2022</span>
                </div>

                <ul>
                    <h5>Junte-se a nós</h5>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Cadastre-se</a></li>
                    <li><a href="#">Sua conta</a></li>
                    <li><a href="#">Faça sua reserva</a></li>
                    <li><a href="#">Anuncie seu espaço</a></li>
                </ul>

                <ul>
                    <h5>Atendimento</h5>
                    <li><a href="#">Chat</a></li>
                    <li><a href="#">Fórum</a></li>
                    <li><a href="#">Central de ajuda</a></li>
                </ul>

                <ul>
                    <h5>Sobre nós</h5>
                    <li><a href="#">Quem somos?</a></li>
                    <li><a href="#">Missão, valores e visão</a></li>
                    <li><a href="#">Por que Umbrella Officing</a></li>
                    <li><a href="#">Desenvolvedores</a></li>
                </ul>

            </div>

            <div id="bottom_footer">
                <div>
                    <div id="network_div">
                        <img src="images/default/icon_intagram.svg" alt="ícone do instagram">
                        <img src="images/default/icon_facebook.svg" alt="ícone do facebook">
                    </div>

                    <div id="scroll_up">
                        <img src="images/default/arrow_up.svg" alt="ícone de flecha">
                    </div>
                </div>

            </div>


    </footer>

    <script src="script/default/header/header.js"></script>
    <script src="script/my-account/booking-requests.js"></script>


</body>

</html>