<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"
        integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style/default/default.css">
    <link rel="stylesheet" href="style/my-account/my-account.css">
    <link rel="stylesheet" href="style/my-account/calendar.css">
</head>

<body>
    <header id="header" class="container_margin_default">
        <div class="default_margin">
            <a href="/"> <img src="images/default/logo.svg" alt="logo"> </a>
            <div id="container_menu">
                <a href="/tipo-de-ambiente"><button id="advertiser">Quero anunciar</button></a>
                <div id="menu">
                    <div id='menu_sign-in-up'>
                        <img src="images/default/user.svg" alt="usuário">
                        <img src="images/default/menu_hamburguer.svg" alt="menu">
                    </div>
                </div>
                <div class="menu_open">
                    <div>
                        <img src="images/default/perfil.png" alt="foto de perfil">
                        <h3>Usuário <span>Cliente</span></h3>
                    </div>
                    <div>
                        <nav>
                            <ul>
                                <li class="popUp-login-signUp">
                                    <img src="images/default/my-perfil.png" alt="meu perfil">
                                    Login
                                </li>
                                <li class="popUp-login-signUp">
                                    <img src="images/default/sign_up.png" alt="cadastre-se">
                                    Cadastre-se
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <div>
                        <img src="images/default/question.png" alt="sair da conta">
                        Help & Support
                    </div>
                </div>
                <div id="container_popUp_login-signUp">
                    <div class="popUp">
                        <img class="close_popup" src="images/default/close_icon.svg" alt="close">
                        <h2>Umbrella Officing</h2>
                        <h3>Seja bem-vindo</h3>
                        <div>
                            <span>Faça seu login para continuar</span>
                            <form>
                                <label for="cpf-email">
                                    CPF ou E-mail :
                                    <input type="text" id="cpf-email">
                                </label>

                                <label for="password-login">
                                    Senha:
                                    <input type="password" id="password-login">
                                </label>

                                <div>
                                    <a href="#">Esqueceu a senha?</a>
                                </div>

                                <button type="submit">LOGIN</button>
                            </form>
                            <div id="alternatives">
                                <div><span>OR</span></div>
                                <div>
                                    <span>Faça login com suas Redes Sociais</span>
                                    <img src="images/default/icon-google.png" alt="ícone do google">
                                    <img src="images/default/icon-facebok.svg" alt="ícone do facebbok">
                                    <img src="images/default/icon-apple.png" alt="ícone do facebbok">
                                    <span>Ainda não possui conta? <a href="#">Cadastre-se</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popUp">
                        <img class="close_popup" src="images/default/close_icon.svg" alt="close">
                        <h2>Umbrella Officing</h2>
                        <h3>Seja bem-vindo</h3>
                        <div>
                            <span>Cadastre-se e faça parte da nossa comunidade</span>
                            <form>
                                <label for="name">
                                    Nome:
                                    <input type="text" id="name">
                                </label>

                                <label for="middlename">
                                    Sobrenome:
                                    <input type="text" id="middlename">
                                </label>

                                <label for="cpf">
                                    CPF:
                                    <input type="number" id="cpf">
                                </label>

                                <label for="birth_date">
                                    Data de nascimento
                                    <input type="date" id="birth_date">
                                </label>

                                <label for="phone">
                                    Telefone:
                                    <input type="number" id="phone">
                                </label>

                                <button type="submit">CADASTRAR</button>
                            </form>
                        </div>
                    </div>
                </div>
    </header>

    <div id='box_black'></div>

    <main>
        <div id="calendar" class="container_margin_default">
            <div class="default_margin">
                <nav>
                    <ul>
                        <li class="option">
                            <a href="/meu-perfil"><i class="fa-solid fa-user-large profile"></i>
                                Meu perfil</a>
                        </li>
                        <li class="option">
                            <a href="/dados-pessoais">
                                <i class="fa-solid fa-wallet wallet"></i>
                                Dados pessoais</a>
                        </li>
                        <li class="option">
                            <a href="/reservas"><i class="fa-solid fa-calendar-check reserve"></i>
                                Minhas reservas</a>
                        </li>
                        <li class="option">
                            <a href="/meus-anuncios"><i class="fa-solid fa-bullhorn ads"></i>
                                Meus anúncios</a>
                        </li>
                        <li class="option_active">
                            <a href="#"><i class="fa-solid fa-calendar-days calendar"></i>
                                Calendário</a>
                        </li>
                    </ul>
                </nav>

                <section id="calendar_section1">
                    <div class="calendar_section1-header">
                        <h1>Escritório Lape</h1>

                        <div class="select-box">
                            <div class="options-container">
                                <div class="option">
                                    <input type="radio" class="radio" id="space" name="category" />
                                    <option for="space">Espaço</option>
                                </div>

                                <div class="option">
                                    <input type="radio" class="radio" id="space" name="category" />
                                    <option for="space">Espaço</option>
                                </div>

                                <div class="option">
                                    <input type="radio" class="radio" id="space" name="category" />
                                    <option for="space">Espaço</option>
                                </div>
                            </div>

                            <div class="selected">
                                Mudar de espaço
                            </div>
                        </div>
                    </div>

                    <div id="calendar_section1_container">
                        <div id="calendar_section1_container-header">
                            <div id="monthDisplay"></div>
                            <div>
                                <button id="backButton"><i class="fa-solid fa-chevron-left chevron-left"></i></button>
                                <button id="nextButton"><i class="fa-solid fa-chevron-right chevron-right"></i></button>
                            </div>
                        </div>

                        <div id="calendar_section1_weekdays">
                            <div>Domingo</div>
                            <div>Segunda</div>
                            <div>Terça</div>
                            <div>Quarta</div>
                            <div>Quinta</div>
                            <div>Sexta</div>
                            <div>Sábado</div>
                        </div>

                        <div id="calendar-data"></div>
                    </div>
                </section>

            </div>

        </div>

        <div id="newEventModal">
                <h2>Adicionar horário</h2>
            
                <p>Abertura</p>
                <input class="eventTitleInput outline-focus" placeholder="00:00" />

                <p>Fechamento</p>
                <input class="eventTitleInput outline-focus" placeholder="00:00" />

                <div class="frequency-box">
                    <div class="frequency-container">
                        <div class="frequency">
                            <input type="radio" class="radio1" id="year" name="category" />
                            <option for="year">Durante um ano</option>
                        </div>

                        <div class="frequency">
                            <input type="radio" class="radio1" id="month" name="category" />
                            <option for="month">Durante um mês</option>
                        </div>

                        <div class="frequency">
                            <input type="radio" class="radio1" id="week" name="category" />
                            <option for="week">Essa semana</option>
                        </div>
                        
                        <div class="frequency">
                            <input type="radio" class="radio1" id="year" name="category" />
                            <option for="year">Apenas esse dia</option>
                        </div>
                    </div>

                    <div class="selected-frequency">
                        Apenas esse dia
                    </div>
                </div>

                <button id="saveButton">Salvar</button>
                <button id="cancelButton">Cancelar</button>
            </div>
        </div>
        <div id="deleteEventModal">
            <h2>Horário de abertura e fechamento</h2>
            <p class="eventText"></p>
            <p></p>

            <button id="deleteButton">Deletar</button>
            <button id="closeButton">Fechar</button>
        </div>

        <div id="modalBackDrop"></div>

    </main>

    <footer class="container_margin_default">

        <div class="default_margin">
            <div id="margin2">
                <div id="logo">
                    <img src="images/default/logo_footer.svg" alt="logo">
                    <h4>Escritorizando <span><br>espaços </span></h4>
                    <span>Umbrella Officing&copy 2022</span>
                </div>

                <ul>
                    <h5>Junte-se a nós</h5>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Cadastre-se</a></li>
                    <li><a href="#">Sua conta</a></li>
                    <li><a href="#">Faça sua reserva</a></li>
                    <li><a href="#">Anuncie seu espaço</a></li>
                </ul>

                <ul>
                    <h5>Atendimento</h5>
                    <li><a href="#">Chat</a></li>
                    <li><a href="#">Fórum</a></li>
                    <li><a href="#">Central de ajuda</a></li>
                </ul>

                <ul>
                    <h5>Sobre nós</h5>
                    <li><a href="#">Quem somos?</a></li>
                    <li><a href="#">Missão, valores e visão</a></li>
                    <li><a href="#">Por que Umbrella Officing</a></li>
                    <li><a href="#">Desenvolvedores</a></li>
                </ul>

            </div>
            <div id="bottom_footer">
                <div>
                    <div id="network_div">
                        <img src="images/default/icon_intagram_footer.svg" alt="ícone do instagram">
                        <img src="images/default/icon_facebook_footer.svg" alt="ícone do facebook">
                    </div>

                    <div id="scroll_up">
                        <img src="images/default/arrow_up.svg" alt="ícone de flecha">
                    </div>
                </div>

            </div>
    </footer>


    <script src="https://kit.fontawesome.com/e4e1096c30.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="script/default/header/header.js"></script>
    <script src="script/my-account/calendar.js"></script>
</body>

</html>