<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="style/default/default.css">
    <link rel="stylesheet" href="style/my-account/edit-ad.css">
    <script src="https://kit.fontawesome.com/e4e1096c30.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
</head>

<body>
    <header id="header" class="container_margin_default">
        <div class="default_margin">
            <a href="/"> <img src="images/default/logo.svg" alt="logo"> </a>
            <div>
                <ul id="type_office">
                    <li class="option_office checked">Espaço adaptado</li>
                    <li class="option_office">Espaço corporativo</li>
                </ul>
                <div class="container_search">
                    <span id="search_txt">Busque locais para trabalho</span>
                    <div id='container_informations_find_coworking'>
                        <input id="localization" type="text" placeholder="Localização:">
                        <input type="date" id="check_in">
                    </div>
                    <a href="#">
                        <div>
                            <img src="images/default/search.svg" alt="pesquisa">
                        </div>
                    </a>
                </div>
            </div>

            <div id="menu">
                <div id='menu_sign-in-up'>
                    <img src="images/default/user.svg" alt="usuário">
                    <img src="images/default/menu_hamburguer.svg" alt="menu">
                </div>
                <div class="menu_open">
                    <div>
                        <img src="images/default/perfil.svg" alt="foto de perfil">
                        <h3>Luana Almeida <span>Coworker</span></h3>
                    </div>
                    <div>
                        <nav>
                            <ul>
                                <li>
                                    <img src="images/default/my-perfil.png" alt="meu perfil">
                                    My profile
                                </li>
                                <li>
                                    <img src="images/default/favorite.png" alt="favoritos">
                                    Favoritos
                                </li>
                                <li>
                                    <img src="images/default/question.png" alt="suporte">
                                    Help & Support
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div>
                        <img src="images/default/log-out.png" alt="sair da conta">
                        Logout
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id='box_black'></div>

    <main>
        <section id="edit-ad_section" class="container_margin_default">
            <div class="default_margin">
                <nav>
                    <a href="/meus-anuncios"><button id="come_back">
                            <i class="fa-solid fa-circle-chevron-left chevron_left"></i>
                            <p>Voltar</p>
                        </button></a>
                    <ul>
                        <li class="option_active">
                            Classificação
                        </li>
                        <li class="option">
                            Informações pessoais
                        </li>
                        <li class="option">
                            Localização
                        </li>
                        <li class="option">
                            Salas
                        </li>
                    </ul>
                </nav>

                <div>
                    <div class="edit-ad_section_change-space">
                        <h1>Escritório Lape</h1>
                        <div>
                            <div class="options-spaces">
                                <div class="option-space">
                                    <input type="radio" class="radio" id="" name="space" class="form-control" />
                                    <option for="">Ambiente adaptável</option>
                                </div>

                                <div class="option-space">
                                    <input type="radio" class="radio" id="" name="space" />
                                    <option for="">Ambiente usual</option>
                                </div>
                            </div>

                            <div class="selected-space">
                                Mudar de espaço
                            </div>
                        </div>

                    </div>


                    <form action="" method="">
                        <div class="edit-ad_section_form1">
                            <div class="select-box">
                                <label for="type_of_environment">Tipo de ambiente</label>
                                <div class="options-container">
                                    <div class="option">
                                        <input type="radio" class="radio1" id="adaptable" name="category"
                                            class="form-control" />
                                        <option for="adaptable">Ambiente adaptável</option>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio1" id="usual" name="category" />
                                        <option for="usual">Ambiente usual</option>
                                    </div>
                                </div>

                                <div class="selected">
                                    Ambiente adaptável
                                </div>
                            </div>

                            <div class="edit-ad_section_form1-colum2">

                                <div class="select-box">
                                    <label for="category">Categoria</label>
                                    <div class="options-category">
                                        <div class="option-category">
                                            <input type="radio" class="radio2" id="" name="category"
                                                class="form-control" />
                                            <option for="">Ambiente adaptável</option>
                                        </div>

                                        <div class="option-category">
                                            <input type="radio" class="radio2" id="" name="category" />
                                            <option for="">Ambiente usual</option>
                                        </div>
                                    </div>

                                    <div class="selected-category">
                                        Ambiente adaptável
                                    </div>
                                </div>
                                <div class="select-box">
                                    <label for="subcategory">Subcategoria</label>
                                    <div class="options-subcategory">
                                        <div class="option-subcategory">
                                            <input type="radio" class="radio3" id="" name="subcategory"
                                                class="form-control" />
                                            <option for="">Ambiente adaptável</option>
                                        </div>

                                        <div class="option-subcategory">
                                            <input type="radio" class="radio3" id="" name="subcategory" />
                                            <option for="">Ambiente usual</option>
                                        </div>
                                    </div>

                                    <div class="selected-subcategory">
                                        Ambiente adaptável
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="edit-ad_section_flex">
                                    <h2>Informações básicas</h2>
                                    <button id="edit_photos">Editar</button>
                                </div>

                                <label for="photos">Fotos</label>
                                <div class="photos">
                                    <div id="photo1"></div>
                                    <div id="photo2"></div>
                                    <div id="photo3"></div>
                                    <p>Mais...</p>
                                </div>
                            </div>


                            <div>
                                <label for="title">Título</label>
                                <input type="text" class="form-control" name="title" id="title" />
                            </div>


                            <div>
                                <label for="title">Descrição</label>
                                <textarea type="text" class="form-control" name="description" id="description"
                                    rows="8"></textarea>
                            </div>

                            <h2>Localização</h2>
                            <div>
                                <label for="cep">CEP</label>
                                <input type="text" class="form-control" name="cep_ad" id="cep_ad" />
                            </div>
                            <div class="edit-ad_section_form1-colum2-dif1">
                                <div>
                                    <label for="rua">Rua</label>
                                    <input type="text" class="form-control" name="rua_ad" id="rua_ad" />
                                </div>
                                <div>
                                    <label for="number">Nº</label>
                                    <input type="text" class="form-control" name="number_ad" id="number_ad" />
                                </div>
                            </div>
                            <div class="edit-ad_section_form1-colum2">
                                <div>
                                    <label for="bairro">Bairro</label>
                                    <input type="text" class="form-control" name="bairro_ad" id="bairro-ad" />
                                </div>
                                <div>
                                    <label for="cidade">Cidade | Estado</label>
                                    <input type="text" class="form-control" name="cidade_estado_ad"
                                        id="cidade_estado_ad" />
                                </div>
                            </div>
                        </div>

                        <div>
                            <input type="text" name="room" id="room" placeholder="Sala 01" />
                            <div class="dropDown">
                                <div class="listDropDown">
                                    <div class="item" id="item-1" onMouseDown="category(1)">Sala 02</div>
                                    <div class="item" id="item-2" onMouseDown="category(2)">Sala 03</div>
                                </div>
                            </div>
                        </div>

                        <div class="edit-ad_section_form2">
                            <h2>Preço e características gerais</h2>

                            <div class="edit-ad_section_form2_flex">
                                <input type="price" name="price" id="price" />

                                <div class="edit-ad_section_form2_flex2">
                                    <div>
                                        <label for="size_people">Nº pessoas</label>
                                        <p>Indicamos 1 pessoa/7m²</p>
                                    </div>
                                    <div class="dec_increment">
                                        <span class="minus">
                                            <span></span>
                                        </span>
                                        <span class="num">1</span>
                                        <span class="plus">
                                            <span></span>
                                            <span></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="edit-ad_section_form2_flex">
                                <div class="edit-ad_section_form2_flex2">
                                    <div>
                                        <label for="size_room">Tamanho da sala</label>
                                        <p>Em m²</p>
                                    </div>
                                    <input type="size_room" class="form-control" name="size_room" id="size_room" />
                                </div>

                                <div class="edit-ad_section_form2_flex2">
                                    <div>
                                        <label for="access_to_bathrooms">Acesso à banheiros</label>
                                    </div>
                                    <div class="dec_increment">
                                        <span class="minus">
                                            <span></span>
                                        </span>
                                        <span class="num">1</span>
                                        <span class="plus">
                                            <span></span>
                                            <span></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <h2>Recursos</h2>

                            <div class="edit-ad_section_form2_flex">
                                <div class="edit-ad_section_form2_flex2">
                                    <div>
                                        <img src="images/my-account/edit-ad/wifi.svg" alt="Ícone de Wifi">
                                        <label for="wifi">Wifi</label>
                                    </div>
                                    <div class="form-floating">
                                        <select class="form-select" id="floatingSelect">
                                            <option value="1">Baixa</option>
                                            <option value="2">Média</option>
                                            <option value="3">Alta</option>
                                        </select>
                                        <label for="floatingSelect">Qualidade</label>
                                    </div>
                                </div>

                                <div class="edit-ad_section_form2_flex2">
                                    <div>
                                        <img src="images/my-account/edit-ad/computer.svg" alt="Ícone de Computador">
                                        <label for="computers">Computadores</label>
                                    </div>
                                    <div class="dec_increment">
                                        <span class="minus">
                                            <span></span>
                                        </span>
                                        <span class="num">1</span>
                                        <span class="plus">
                                            <span></span>
                                            <span></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="edit-ad_section_form2_flex">
                                <div class="edit-ad_section_form2_flex2">
                                    <div>
                                        <img src="images/my-account/edit-ad/sockets.svg" alt="Ícone de tomada">
                                        <label for="sockets">Tomadas</label>
                                    </div>
                                    <div class="dec_increment">
                                        <span class="minus">
                                            <span></span>
                                        </span>
                                        <span class="num">1</span>
                                        <span class="plus">
                                            <span></span>
                                            <span></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="edit-ad_section_form2_flex2">
                                    <div>
                                        <img src="images/my-account/edit-ad/air-conditioning.svg"
                                            alt="Ícone de ar-condicionado">
                                        <label for="air-conditioning">Ar-condicionado</label>
                                    </div>
                                    <div class="dec_increment">
                                        <span class="minus">
                                            <span></span>
                                        </span>
                                        <span class="num">1</span>
                                        <span class="plus">
                                            <span></span>
                                            <span></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="edit-ad_section_form2_flex">
                                <div class="edit-ad_section_form2_flex2">
                                    <div>
                                        <img src="images/my-account/edit-ad/table.svg" alt="Ícone de mesa">
                                        <label for="table">Mesas</label>
                                    </div>
                                    <div class="dec_increment">
                                        <span class="minus">
                                            <span></span>
                                        </span>
                                        <span class="num">1</span>
                                        <span class="plus">
                                            <span></span>
                                            <span></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="edit-ad_section_form2_flex2">
                                    <div>
                                        <img src="images/my-account/edit-ad/seats.svg" alt="Ícone de assento">
                                        <label for="seats">Assentos</label>
                                    </div>
                                    <div class="dec_increment">
                                        <span class="minus">
                                            <span></span>
                                        </span>
                                        <span class="num">1</span>
                                        <span class="plus">
                                            <span></span>
                                            <span></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="edit-ad_section_form2_flex">
                                <div class="edit-ad_section_form2_flex2">
                                    <div>
                                        <img src="images/my-account/edit-ad/window.svg" alt="Ícone de janela">
                                        <label for="window">Janela</label>
                                    </div>
                                    <div class="dec_increment">
                                        <span class="minus">
                                            <span></span>
                                        </span>
                                        <span class="num">1</span>
                                        <span class="plus">
                                            <span></span>
                                            <span></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <button type="submit" id="edit_ad">Editar informações</button>
                    </form>
                </div>
            </div>
        </section>
    </main>


    <footer class="container_margin_default">

        <div class="default_margin">
            <div id="margin2">
                <div id="logo">
                    <img src="images/default/logo_footer.svg" alt="logo">
                    <h4>Escritorizando <span><br>espaços </span></h4>
                    <span>Umbrella Officing&copy 2022</span>
                </div>

                <ul>
                    <h5>Junte-se a nós</h5>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Cadastre-se</a></li>
                    <li><a href="#">Sua conta</a></li>
                    <li><a href="#">Faça sua reserva</a></li>
                    <li><a href="#">Anuncie seu espaço</a></li>
                </ul>

                <ul>
                    <h5>Atendimento</h5>
                    <li><a href="#">Chat</a></li>
                    <li><a href="#">Fórum</a></li>
                    <li><a href="#">Central de ajuda</a></li>
                </ul>

                <ul>
                    <h5>Sobre nós</h5>
                    <li><a href="#">Quem somos?</a></li>
                    <li><a href="#">Missão, valores e visão</a></li>
                    <li><a href="#">Por que Umbrella Officing</a></li>
                    <li><a href="#">Desenvolvedores</a></li>
                </ul>

            </div>

            <div id="bottom_footer">
                <div>
                    <div id="network_div">
                        <img src="images/default/icon_intagram.svg" alt="ícone do instagram">
                        <img src="images/default/icon_facebook.svg" alt="ícone do facebook">
                    </div>

                    <div id="scroll_up">
                        <img src="images/default/arrow_up.svg" alt="ícone de flecha">
                    </div>
                </div>
            </div>
    </footer>

    <script src="script/default/header/header.js"></script>
    <script src="script/my-account/edit-ad.js"></script>

</body>

</html>