<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style/default/default.css">
    <link rel="stylesheet" href="style/my-account/my-ads.css">
    <script src="https://kit.fontawesome.com/e4e1096c30.js" crossorigin="anonymous"></script>
</head>

<body>
    <header id="header" class="container_margin_default">
        <div class="default_margin">
            <a href="/"> <img src="images/default/logo.svg" alt="logo"> </a>
            <div>
                <ul id="type_office">
                    <li class="option_office checked">Espaço adaptado</li>
                    <li class="option_office">Espaço corporativo</li>
                </ul>
                <div class="container_search">
                    <span id="search_txt">Busque locais para trabalho</span>
                    <div id='container_informations_find_coworking'>
                        <input id="localization" type="text" placeholder="Localização:">
                        <input type="date" id="check_in">
                    </div>
                    <a href="#">
                        <div>
                            <img src="images/default/search.svg" alt="pesquisa">
                        </div>
                    </a>
                </div>
            </div>

            <div id="menu">
                <div id='menu_sign-in-up'>
                    <img src="images/default/user.svg" alt="usuário">
                    <img src="images/default/menu_hamburguer.svg" alt="menu">
                </div>
                <div class="menu_open">
                    <div>
                        <img src="images/default/perfil.svg" alt="foto de perfil">
                        <h3>Luana Almeida <span>Coworker</span></h3>
                    </div>
                    <div>
                        <nav>
                            <ul>
                                <li>
                                    <img src="images/default/my-perfil.png" alt="meu perfil">
                                    My profile
                                </li>
                                <li>
                                    <img src="images/default/favorite.png" alt="favoritos">
                                    Favoritos
                                </li>
                                <li>
                                    <img src="images/default/question.png" alt="suporte">
                                    Help & Support
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div>
                        <img src="images/default/log-out.png" alt="sair da conta">
                        Logout
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id='box_black'></div>

    <main>
        <div id="my-ads" class="container_margin_default">
            <div class="default_margin">
                <nav id="my-account_navigation">
                    <ul>
                        <li class="option">
                            <a href="/meu-perfil"><i class="fa-solid fa-user-large profile"></i>
                                Meu perfil</a>
                        </li>
                        <li class="option">
                            <a href="/dados-pessoais">
                                <i class="fa-solid fa-wallet wallet"></i>
                                Dados pessoais</a>
                        </li>
                        <li class="option">
                            <a href="/reservas"><i class="fa-solid fa-calendar-check reserve"></i>
                                Minhas reservas</a>
                        </li>
                        <li class="option_active">
                            <a href="#"><i class="fa-solid fa-bullhorn ads"></i>
                                Meus anúncios</a>
                        </li>
                        <li class="option">
                            <a href="/calendario"><i class="fa-solid fa-calendar-days calendar"></i>
                                Calendário</a>
                        </li>
                    </ul>
                </nav>

                <div>
                    <h1>Meus anúncios</h1>

                    <nav id="my-ads_navigation">
                        <ul>
                            <a href="javascript:ads(1)" autofocus>
                                <li>Espaços ativos</li>
                            </a>
                            <a href="javascript:ads(2)">
                                <li>Espaços inativos</li>
                            </a>
                        </ul>
                    </nav>
                    <hr>

                    <article id="actives_space">
                        <section>
                            <img src="images/my-account/favorites/kitnet.png" alt="Escritório privado adaptado">

                            <div>
                                <h2>Escritório Aqua (Kitnet)</h2>
                                <p>Rua Augusto Pedrosa 011, Liberdade, São Paulo/SP</p>
                                <h3>1 sala cadastradas</h3>

                                <div class="my-ads_space-div-flex">
                                    <h3>Cadastrado em: 22/04/2022</h3>

                                    <div>
                                        <button type="submit" id="view_officing"><a href=""><i
                                                    class="fa-solid fa-check check"></a></i></button>
                                        <button type="submit" id="delete"><i
                                                class="fa-solid fa-trash-can trash"></i></button>
                                    </div>
                                </div>
                        </section>
                        <section>
                            <img src="images/my-account/favorites/kitnet.png" alt="Escritório privado adaptado">

                            <div>
                                <h2>Escritório Aqua (Kitnet)</h2>
                                <p>Rua Augusto Pedrosa 011, Liberdade, São Paulo/SP</p>
                                <h3>1 sala cadastradas</h3>

                                <div class="my-ads_space-div-flex">
                                    <h3>Cadastrado em: 22/04/2022</h3>

                                    <div>
                                        <button type="submit" id="view_officing"><a href=""><i
                                                    class="fa-solid fa-check check"></a></i></button>
                                        <button type="submit" id="delete"><i
                                                class="fa-solid fa-trash-can trash"></i></button>
                                    </div>
                                </div>
                        </section>
                        <section>
                            <img src="images/my-account/favorites/kitnet.png" alt="Escritório privado adaptado">

                            <div>
                                <h2>Escritório Aqua (Kitnet)</h2>
                                <p>Rua Augusto Pedrosa 011, Liberdade, São Paulo/SP</p>
                                <h3>1 sala cadastradas</h3>

                                <div class="my-ads_space-div-flex">
                                    <h3>Cadastrado em: 22/04/2022</h3>

                                    <div>
                                        <button type="submit" id="view_officing"><a href=""><i
                                                    class="fa-solid fa-check check"></a></i></button>
                                        <button type="submit" id="delete"><i
                                                class="fa-solid fa-trash-can trash"></i></button>
                                    </div>
                                </div>
                        </section>
                    </article>
                    </article>
                    <article id="inactives_space" display="none">
                        <section>
                            <img src="images/my-account/favorites/apartament.png" alt="apartamento">

                            <div>
                                <h2>Escritório Lape</h2>
                                <p>Rua Largo João Batista 596, Jd. Ramalho, São Paulo/SP</p>
                                <h3>3 sala cadastradas</h3>

                                <div class="my-ads_space-div-flex">
                                    <button type="submit" id="solicitation_res">Solicitações de reserva</button>

                                    <div>
                                        <button type="submit" id="eyes"><i class="fa-solid fa-eye eyes"></i></button>
                                        <button type="submit" id="edit"><i
                                                class="fa-solid fa-pen-to-square edit"></i></button>
                                        <button type="submit" id="delete"><i
                                                class="fa-solid fa-trash-can trash"></i></button>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section>
                            <img src="images/my-account/favorites/apartament.png" alt="apartamento">

                            <div>
                                <h2>Escritório Lape</h2>
                                <p>Rua Largo João Batista 596, Jd. Ramalho, São Paulo/SP</p>
                                <h3>3 sala cadastradas</h3>

                                <div class="my-ads_space-div-flex">
                                    <button type="submit" id="solicitation_res">Solicitações de reserva</button>

                                    <div>
                                        <button type="submit" id="eyes"><i class="fa-solid fa-eye eyes"></i></button>
                                        <button type="submit" id="edit"><i
                                                class="fa-solid fa-pen-to-square edit"></i></button>
                                        <button type="submit" id="delete"><i
                                                class="fa-solid fa-trash-can trash"></i></button>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section>
                            <img src="images/my-account/favorites/apartament.png" alt="apartamento">

                            <div>
                                <h2>Escritório Lape</h2>
                                <p>Rua Largo João Batista 596, Jd. Ramalho, São Paulo/SP</p>
                                <h3>3 sala cadastradas</h3>

                                <div class="my-ads_space-div-flex">
                                    <button type="submit" id="solicitation_res">Solicitações de reserva</button>

                                    <div>
                                        <button type="submit" id="eyes"><i class="fa-solid fa-eye eyes"></i></button>
                                        <button type="submit" id="edit"><i
                                                class="fa-solid fa-pen-to-square edit"></i></button>
                                        <button type="submit" id="delete"><i
                                                class="fa-solid fa-trash-can trash"></i></button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </article>
                </div>
            </div>
            </section>
    </main>


    <footer class="container_margin_default">

        <div class="default_margin">
            <div id="margin2">
                <div id="logo">
                    <img src="images/default/logo_footer.svg" alt="logo">
                    <h4>Escritorizando <span><br>espaços </span></h4>
                    <span>Umbrella Officing&copy 2022</span>
                </div>

                <ul>
                    <h5>Junte-se a nós</h5>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Cadastre-se</a></li>
                    <li><a href="#">Sua conta</a></li>
                    <li><a href="#">Faça sua reserva</a></li>
                    <li><a href="#">Anuncie seu espaço</a></li>
                </ul>

                <ul>
                    <h5>Atendimento</h5>
                    <li><a href="#">Chat</a></li>
                    <li><a href="#">Fórum</a></li>
                    <li><a href="#">Central de ajuda</a></li>
                </ul>

                <ul>
                    <h5>Sobre nós</h5>
                    <li><a href="#">Quem somos?</a></li>
                    <li><a href="#">Missão, valores e visão</a></li>
                    <li><a href="#">Por que Umbrella Officing</a></li>
                    <li><a href="#">Desenvolvedores</a></li>
                </ul>

            </div>

            <div id="bottom_footer">
                <div>
                    <div id="network_div">
                        <img src="images/default/icon_intagram.svg" alt="ícone do instagram">
                        <img src="images/default/icon_facebook.svg" alt="ícone do facebook">
                    </div>

                    <div id="scroll_up">
                        <img src="images/default/arrow_up.svg" alt="ícone de flecha">
                    </div>
                </div>

            </div>


    </footer>

    <script src="script/default/default.js"></script>
    <script src="script/my-account/my-ads.js"></script>


</body>

</html>