<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style/default/default.css">
    <link rel="stylesheet" href="style/my-account/reservations.css">
</head>

<body>
    <header id="header" class="container_margin_default">
        <div class="default_margin">
            <a href="/"> <img src="images/default/logo.svg" alt="logo"> </a>
        </div>
    </header>

    <body>
        <main>
            <section id="reservations_section1" class="container_margin_default">
                <div class="default_margin">
                    <div id="reservations_section1-background"></div>
                    <nav>
                        <ul>
                            <li>
                                <img src="images/my-account/my-profile.svg" alt="meu perfil">
                                Meu perfil
                            </li>
                            <li>
                                <img src="images/my-account/personal-data.svg" alt="favoritos">
                                Dados pessoais
                            </li>
                            <li>
                                <img src="images/my-account/reservations.svg" alt="suporte">
                                Minhas reservas
                            </li>
                        </ul>
                    </nav>

                    <div>
                        <h1>Minhas reservas</h1>

                        <div id="reservations_section1-space">
                            <img src="images/my-account/reservations/apartment.svg" alt="apartamento">

                            <div>
                                <p>Amanhã, às 19:00</p>
                                <h2>Água Branca (Apartamento)</h2>
                                <p>Rua Largo João Batista 596, Jd. Ramalho, São Paulo/SP</p>
                                <p>7m² | Modelo privado | 2 banheiros</p>

                                <div class="reservations_section1-space-div-flex"><h3>R$ 7,90/h</h3>

                                <button type="submit" id="visits">Próximas visitas</button>
                                <button type="submit" id="cancel">Cancelar reserva</button></div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </main>
    </body>

</html>