<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="style/default/default.css">
    <link rel="stylesheet" href="style/my-account/my-account.css">
    <link rel="stylesheet" href="style/my-account/personal-date.css">
</head>

<body>
    <header id="header" class="container_margin_default">
        <div class="default_margin">
            <a href="/"> <img src="images/default/logo.svg" alt="logo"> </a>
            <div id="container_menu">
                <a href="/tipo-de-ambiente"><button id="advertiser">Quero anunciar</button></a>
                <div id="menu">
                    <div id='menu_sign-in-up'>
                        <img src="images/default/user.svg" alt="usuário">
                        <img src="images/default/menu_hamburguer.svg" alt="menu">
                    </div>
            </div>    
                <div class="menu_open">
                    <div>
                        <img src="images/default/perfil.png" alt="foto de perfil">
                       <h3>Usuário <span>Cliente</span></h3>
                    </div>
                    <div>
                        <nav>
                            <ul>
                                <li class="popUp-login-signUp">
                                    <img src="images/default/my-perfil.png" alt="meu perfil">
                                    Login
                                </li>
                                <li class="popUp-login-signUp">
                                    <img src="images/default/sign_up.png" alt="favoritos">
                                    Cadastre-se
                                </li>
                                <li class="popUp-login-signUp">
                                    <img src="images/default/favorite.png" alt="suporte">
                                    Favoritos
                                </li>
                            </ul>
                        </nav>
                    <div class="menu_open">
                        <div>
                            <img src="images/default/perfil.svg" alt="foto de perfil">
                            <h3>Luana Almeida <span>Coworker</span></h3>
                        </div>
                        <div>
                            <nav>
                                <ul>
                                    <li>
                                        <img src="images/default/my-perfil.png" alt="meu perfil">
                                        My profile
                                    </li>
                                    <li>
                                        <img src="images/default/favorite.png" alt="favoritos">
                                        Favoritos
                                    </li>
                                    <li>
                                        <img src="images/default/question.png" alt="suporte">
                                        Help & Support
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div>
                            <img src="images/default/log-out.png" alt="sair da conta">
                            Logout
                        </div>
                    </div>
                </div>
        </div>
        <div id="container_popUp_login-signUp">
            <div class="popUp">
                <img class="close_popup" src="images/default/close_icon.svg" alt="close">
                <h2>Umbrella Officing</h2>
                <h3>Seja bem-vindo</h3>
                <div>
                    <span>Faça seu login para continuar</span>
                    <form>
                        <label for="cpf-email">
                            CPF ou E-mail :
                            <input type="text" id="cpf-email">
                        </label>

                        <label for="password-login">
                            Senha:
                            <input type="password" id="password-login">
                        </label>

                        <div>
                            <a href="#">Esqueceu a senha?</a>
                        </div>

                        <button type="submit">LOGIN</button>
                    </form>
                    <div id="alternatives">
                        <div><span>OR</span></div>
                        <div>
                            <span>Faça login com suas Redes Sociais</span>
                            <img src="images/default/icon-google.png" alt="ícone do google">
                            <img src="images/default/icon-facebok.svg" alt="ícone do facebbok">
                            <img src="images/default/icon-apple.png" alt="ícone do facebbok">
                            <span>Ainda não possui conta? <a href="#">Cadastre-se</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popUp">
                <img class="close_popup" src="images/default/close_icon.svg" alt="close">
                <h2>Umbrella Officing</h2>
                <h3>Seja bem-vindo</h3>
                <div>
                    <span>Cadastre-se e faça parte da nossa comunidade</span>
                    <form>
                        <label for="name">
                            Nome:
                            <input type="text" id="name">
                        </label>

                        <label for="middlename">
                            Sobrenome:
                            <input type="text" id="middlename">
                        </label>

                        <label for="cpf">
                            CPF:
                            <input type="number" id="cpf">
                        </label>

                        <label for="birth_date">
                            Data de nascimento
                            <input type="date" id="birth_date">
                        </label>

                        <label for="phone">
                            Telefone:
                            <input type="number" id="phone">
                        </label>

                        <button type="submit">CADASTRAR</button>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div id='box_black'></div>

    <main>
        <div id="personal-date" class="container_margin_default">
            <div class="default_margin">
                <nav>
                    <ul>
                        <li class="option">
                            <a href="/meu-perfil"><i class="fa-solid fa-user-large profile"></i>
                                Meu perfil</a>
                        </li>
                        <li class="option_active">
                            <a href="#">
                                <i class="fa-solid fa-wallet wallet"></i>
                                Dados pessoais</a>
                        </li>
                        <li class="option">
                            <a href="/reservas"><i class="fa-solid fa-calendar-check reserve"></i>
                                Minhas reservas</a>
                        </li>
                        <li class="option">
                            <a href="/meus-anuncios"><i class="fa-solid fa-bullhorn ads"></i>
                                Meus anúncios</a>
                        </li>
                        <li class="option">
                            <a href="/calendario"><i class="fa-solid fa-calendar-days calendar"></i>
                                Calendário</a>
                        </li>
                    </ul>
                </nav>

                <section id="personal-date_section1">
                    <h1>Meus dados pessoais</h1>

                    <form action="" method="post">
                        <div>
                            <h2>Informações pessoais</h2>
                            <div>
                                <label for="name">Nome</label>
                                <input type="text" class="form-control" name="name" id="name">
                            </div>
                            <div class="personal-date_section1_form-colum2">
                                <div>
                                    <label for="birth-date">Data de nascimento</label>
                                    <input type="date" class="form-control" name="birth-date" id="birth-date">
                                </div>
                                <div class="select-box">
                                    <label for="gender">Sexo</label>
                                    <div class="options-container">
                                        <div class="option">
                                            <input type="radio" class="radio" id="gender" name="category"
                                                class="form-control" />
                                            <option for="feminino">Feminino</option>
                                        </div>

                                        <div class="option">
                                            <input type="radio" class="radio" id="masc" name="category" />
                                            <option for="masc">Masculino</option>
                                        </div>
                                    </div>

                                    <div class="selected">
                                        Feminino
                                        <img src="../images/my-account/arrow-down.svg" alt="Seta">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label for="profession">Profissão</label>
                                <input type="text" class="form-control" name="profession" id="profession" />
                            </div>

                            <h2>Identificação</h2>
                            <div>
                                <label for="cpf">CPF</label>
                                <input type="text" class="form-control" name="cpf" id="cpf" />
                            </div>
                            <div class="personal-date_section1_form-colum2-dif1">
                                <div>
                                    <label for="rg">RG</label>
                                    <input type="text" class="form-control" name="rg" id="rg" />
                                </div>
                                <div>
                                    <label for="orgao-exp">Orgão Expedidor</label>
                                    <input type="text" class="form-control" name="orgao-exp" id="orgao-exp" />
                                </div>
                            </div>

                            <h2>Contato</h2>
                            <div class="personal-date_section1_form-colum2">
                                <div>
                                    <label for="phone">Telefone</label>
                                    <input type="text" class="form-control" name="phone" id="phone" />
                                </div>
                                <div>
                                    <label for="cell">Celular</label>
                                    <input type="text" class="form-control" name="cell" id="cell" />
                                </div>
                            </div>

                            <h2>Endereço</h2>
                            <div>
                                <label for="cep">CEP</label>
                                <input type="text" class="form-control" name="cep" id="cep" />
                            </div>
                            <div class="personal-date_section1_form-colum2-dif2">
                                <div>
                                    <label for="rua">Rua</label>
                                    <input type="text" class="form-control" name="rua" id="rua" />
                                </div>
                                <div>
                                    <label for="number">Nº</label>
                                    <input type="text" class="form-control" name="number" id="number" />
                                </div>
                            </div>
                            <div class="personal-date_section1_form-colum2">
                                <div>
                                    <label for="bairro">Bairro</label>
                                    <input type="text" class="form-control" name="bairro" id="bairro" />
                                </div>
                                <div>
                                    <label for="cidade">Cidade | Estado</label>
                                    <input type="text" class="form-control" name="cidade_estado" id="cidade_estado" />
                                </div>
                            </div>

                            <h2>Informações para login</h2>
                            <div>
                                <label for="email">Email</label>
                                <input class="form-control" type="email" name="email" id="email" />
                            </div>
                            <div>
                                <label for="password">Senha</label>
                                <input class="form-control" type="password" name="password" id="password" />
                            </div>

                            <div id="justify">
                                <button type="submit" id="edit_ad">Editar informações</button>
                            </div>
                    </form>
            </div>
        </div>
        </div>
    </main>

    <footer class="container_margin_default">

        <div class="default_margin">
            <div id="margin2">
                <div id="logo">
                    <img src="images/default/logo_footer.svg" alt="logo">
                    <h4>Escritorizando <span><br>espaços </span></h4>
                    <span>Umbrella Officing&copy 2022</span>
                </div>

                <ul>
                    <h5>Junte-se a nós</h5>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Cadastre-se</a></li>
                    <li><a href="#">Sua conta</a></li>
                    <li><a href="#">Faça sua reserva</a></li>
                    <li><a href="#">Anuncie seu espaço</a></li>
                </ul>

                <ul>
                    <h5>Atendimento</h5>
                    <li><a href="#">Chat</a></li>
                    <li><a href="#">Fórum</a></li>
                    <li><a href="#">Central de ajuda</a></li>
                </ul>

                <ul>
                    <h5>Sobre nós</h5>
                    <li><a href="#">Quem somos?</a></li>
                    <li><a href="#">Missão, valores e visão</a></li>
                    <li><a href="#">Por que Umbrella Officing</a></li>
                    <li><a href="#">Desenvolvedores</a></li>
                </ul>

            </div>

            <div id="bottom_footer">
                <div>
                    <div id="network_div">
                        <img src="images/default/icon_intagram.svg" alt="ícone do instagram">
                        <img src="images/default/icon_facebook.svg" alt="ícone do facebook">
                    </div>

                    <div id="scroll_up">
                        <img src="images/default/arrow_up.svg" alt="ícone de flecha">
                    </div>
                </div>
            </div>
    </footer>

    <script src="https://kit.fontawesome.com/e4e1096c30.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
    <script src="script/default/header/header.js"></script>
    <script src="script/my-account/personal-date.js"></script>
</body>

</html>