<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style/default/default.css">
    <link rel="stylesheet" href="style/my-account/my-account.css">
    <link rel="stylesheet" href="style/my-account/edit-ad.css">
</head>

<body>
    <header id="header" class="container_margin_default">
        <div class="default_margin">
            <a href="/"> <img src="images/default/logo.svg" alt="logo"> </a>
            <div id="container_menu">
                <a href="/tipo-de-ambiente"><button id="advertiser">Quero anunciar</button></a>
                <div id="menu">
                    <div id='menu_sign-in-up'>
                        <img src="images/default/user.svg" alt="usuário">
                        <img src="images/default/menu_hamburguer.svg" alt="menu">
                    </div>
                </div>
                <div class="menu_open">
                    <div>
                        <img src="images/default/perfil.png" alt="foto de perfil">
                        <h3>Usuário <span>Cliente</span></h3>
                    </div>
                    <div>
                        <nav>
                            <ul>
                                <li class="popUp-login-signUp">
                                    <img src="images/default/my-perfil.png" alt="meu perfil">
                                    Login
                                </li>
                                <li class="popUp-login-signUp">
                                    <img src="images/default/sign_up.png" alt="cadastre-se">
                                    Cadastre-se
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <div>
                        <a href="/central-de-ajuda"></a><img src="images/default/question.png" alt="sair da conta">
                        Central de ajuda</a>
                    </div>
                </div>
                <div id="container_popUp_login-signUp">
                    <div class="popUp">
                        <img class="close_popup" src="images/default/close_icon.svg" alt="close">
                        <h2>Umbrella Officing</h2>
                        <h3>Seja bem-vindo</h3>
                        <div>
                            <span>Faça seu login para continuar</span>
                            <form>
                                <label for="cpf-email">
                                    CPF ou E-mail :
                                    <input type="text" id="cpf-email">
                                </label>

                                <label for="password-login">
                                    Senha:
                                    <input type="password" id="password-login">
                                </label>

                                <div>
                                    <a href="#">Esqueceu a senha?</a>
                                </div>

                                <button type="submit">LOGIN</button>
                            </form>
                            <div id="alternatives">
                                <div><span>OR</span></div>
                                <div>
                                    <span>Faça login com suas Redes Sociais</span>
                                    <img src="images/default/icon-google.png" alt="ícone do google">
                                    <img src="images/default/icon-facebok.svg" alt="ícone do facebbok">
                                    <img src="images/default/icon-apple.png" alt="ícone do facebbok">
                                    <span>Ainda não possui conta? <a href="#">Cadastre-se</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popUp">
                        <img class="close_popup" src="images/default/close_icon.svg" alt="close">
                        <h2>Umbrella Officing</h2>
                        <h3>Seja bem-vindo</h3>
                        <div>
                            <span>Cadastre-se e faça parte da nossa comunidade</span>
                            <form>
                                <label for="name">
                                    Nome:
                                    <input type="text" id="name">
                                </label>

                                <label for="middlename">
                                    Sobrenome:
                                    <input type="text" id="middlename">
                                </label>

                                <label for="cpf">
                                    CPF:
                                    <input type="number" id="cpf">
                                </label>

                                <label for="birth_date">
                                    Data de nascimento
                                    <input type="date" id="birth_date">
                                </label>

                                <label for="phone">
                                    Telefone:
                                    <input type="number" id="phone">
                                </label>

                                <button type="submit">CADASTRAR</button>
                            </form>
                        </div>
                    </div>
                </div>
    </header>

    <div id='box_black'></div>

    <main>
        <div id="edit-ad" class="container_margin_default">
            <div class="default_margin">
                <aside id="edit-ad_sidebar">
                    <a href="/meus-anuncios">
                        <button id="come_back">
                            <i class="fa-solid fa-chevron-left"></i>
                                Voltar
                        </button> 
                    </a>
                    <ul>
                        <li>
                            <a href="#edit-ad_classification" class="active">Classificação</a>
                        </li>
                        <li>
                            <a href="#edit-ad_basics_information">Informações <br> básicas</a>
                        </li>
                        <li>
                            <a href="#edit-ad_localization">Localização</a>
                        </li>
                        <li>
                            <a href="#rooms">Salas</a>
                        </li>
                    </ul>
                </aside>

                <form id="edit-ad_form" action="" method="" data-js='form'>
                    <span>
                        <h1>Escritório Lape</h1>

                        <div class="select-box">
                            <div class="options-container">
                                <div class="option">
                                    <input type="radio" class="radio" id="space" name="category" />
                                    <option for="space">Espaço</option>
                                </div>

                                <div class="option">
                                    <input type="radio" class="radio" id="space" name="category" />
                                    <option for="space">Espaço</option>
                                </div>

                                <div class="option">
                                    <input type="radio" class="radio" id="space" name="category" />
                                    <option for="space">Espaço</option>
                                </div>
                            </div>

                            <div class="selected">
                                Mudar de espaço
                            </div>
                        </div>
                    </span>

                    <section id="edit-ad_classification">
                        <div>
                            <div class="type-box">
                                <label for="type_of_environment">Tipo de ambiente</label>
                                <div class="type-container">
                                    <div class="type">
                                        <input type="radio" class="radio1" id="adaptable" name="category" />
                                        <option for="adaptable">Ambiente adaptável</option>
                                    </div>

                                    <div class="type">
                                        <input type="radio" class="radio1" id="usual" name="category" />
                                        <option for="usual">Ambiente usual</option>
                                    </div>
                                </div>

                                <div class="selected-type">
                                    Ambiente adaptável
                                </div>
                            </div>
                        </div>

                        <span>
                            <div class="category-box">
                                <label for="category">Categoria</label>
                                <div class="category-container">
                                    <div class="category">
                                        <input type="radio" class="radio2" id="" name="category" />
                                        <option for="">Teste 1</option>
                                    </div>

                                    <div class="category">
                                        <input type="radio" class="radio2" id="" name="category" />
                                        <option for="">Teste 2</option>
                                    </div>
                                </div>

                                <div class="selected-category">
                                    Categoria
                                </div>
                            </div>

                            <div class="subcategory-box">
                                <label for="subcategory">Subcategoria</label>
                                <div class="subcategory-container">
                                    <div class="subcategory">
                                        <input type="radio" class="radio3" id="" name="subcategory" />
                                        <option for="">Teste 1</option>
                                    </div>

                                    <div class="subcategory">
                                        <input type="radio" class="radio3" id="" name="subcategory" />
                                        <option for="">Teste 2</option>
                                    </div>
                                </div>

                                <div class="selected-subcategory">
                                    Subcategoria
                                </div>
                            </div>
                        </span>
                    </section>


                    <section id="edit-ad_basics-information">
                        <h2>Informações básicas</h2>

                        <label for="photos">Fotos</label>
                        <div class="photos">
                            <div id="photo1"></div>
                            <div id="photo2"></div>
                            <div id="photo3"><button id="edit_photos">Editar</button></div> 
                        </div>

                        <div>
                            <label for="title">Título</label>
                            <input class="outline-focus" type="text" name="title" id="title" />
                        </div>

                        <div>
                            <label for="title">Descrição</label>
                            <textarea class="outline-focus" type="text" name="description" id="description"
                                rows="8"></textarea>
                        </div>
                    </section>

                    <section id="edit-ad_localization">
                        <h2>Localização</h2>
                        <div>
                            <label for="cep">CEP</label>
                            <input class="outline-focus" type="text" name="cep_ad" id="cep_ad" />
                        </div>

                        <div class="flex">
                            <div>
                                <label for="rua">Rua</label>
                                <input class="outline-focus" type="text" name="rua_ad" id="rua_ad" />
                            </div>
                            <div>
                                <label for="number">Nº</label>
                                <input class="outline-focus" type="text" name="number_ad" id="number_ad" />
                            </div>
                        </div>

                        <span>
                            <div>
                                <label for="bairro">Bairro</label>
                                <input class="outline-focus" type="text" name="bairro_ad" id="bairro-ad" />
                            </div>
                            <div>
                                <label for="cidade">Cidade | Estado</label>
                                <input class="outline-focus" type="text" name="cidade_estado_ad"
                                    id="cidade_estado_ad" />
                            </div>
                        </span>
                    </section>

                    <section id="edit-ad_rooms">
                        <div>
                            <input class="outline-focus" type="text" name="room" id="room" placeholder="Sala 01" />
                        </div>

                        <div class="edit-ad_room-flex">

                            <ul class="general-features">
                                <li>
                                    <h2>Preço e características gerais</h2>
                                    <input type="price" name="price" id="price" placeholder="R$: 0,00" />
                                </li>

                                <li>
                                    <div>
                                        <label for="size_people">Nº pessoas</label>
                                        <p>Indicamos 1 pessoa/7m²</p>
                                    </div>
                                    <div class="specification">
                                        <button><i class="fa-solid fa-minus subtract"></i></button>
                                        <input type="number" min="0" value="1" name="size_people" disabled>
                                        <button><i class="fa-solid fa-plus addition"></i></button>
                                    </div>
                                </li>

                                <li>
                                    <div>
                                        <label for="size_room">Tamanho da sala</label>
                                        <p>Em m²</p>
                                    </div>
                                    <input class="outline-focus" type="size_room" name="size_room" id="size_room" />
                                </li>

                                <li>
                                    <div>
                                        <label for="access_to_bathrooms">Acesso à banheiros</label>
                                    </div>
                                    <div class="specification">
                                        <button><i class="fa-solid fa-minus subtract"></i></button>
                                        <input type="number" min="0" value="1" name="access_to_bathrooms" disabled>
                                        <button><i class="fa-solid fa-plus addition"></i></button>
                                    </div>
                                </li>
                            </ul>

                            <h2>Recursos</h2>

                            <ul>
                                <li class="resources-wifi">
                                    <div class="resources-flex">
                                        <img src="images/my-account/edit-ad/wifi.svg" alt="Ícone de Wifi">
                                        <label for="wifi">Wifi</label>
                                    </div>
                                    <div class="wifi-box">
                                        <div class="wifi-container">
                                            <div class="wifi">
                                                <input type="radio" class="radio4" id="" name="subcategory" />
                                                <option for="">Baixa <br>qualid.</option>
                                            </div>

                                            <div class="wifi">
                                                <input type="radio" class="radio4" id="" name="subcategory" />
                                                <option for="">Média <br>qualid.</option>
                                            </div>

                                            <div class="wifi">
                                                <input type="radio" class="radio4" id="" name="subcategory" />
                                                <option for="">Alta <br>qualid</option>
                                            </div>
                                        </div>

                                        <div class="selected-wifi">
                                            Sinal do <br>Wi-fi
                                        </div>
                                    </div>
                                </li>

                                <li class="resources">
                                    <div class="resources-flex">
                                        <img src="images/my-account/edit-ad/computer.svg" alt="Ícone de computador">
                                        <label for="computer">Computador</label>
                                    </div>
                                    <div class="specification">
                                        <button><i class="fa-solid fa-minus subtract"></i></button>
                                        <input type="number" min="0" value="1" name="computer" disabled>
                                        <button><i class="fa-solid fa-plus addition"></i></button>
                                    </div>
                                </li>

                                <li class="resources">
                                    <div class="resources-flex">
                                        <img src="images/my-account/edit-ad/sockets.svg" alt="Ícone de tomada">
                                        <label for="sockets">Tomadas</label>
                                    </div>
                                    <div class="specification">
                                        <button><i class="fa-solid fa-minus subtract"></i></button>
                                        <input type="number" min="0" value="1" name="sockets" disabled>
                                        <button><i class="fa-solid fa-plus addition"></i></button>
                                    </div>
                                </li>

                                <li class="resources">
                                    <div class="resources-flex">
                                        <img src="images/my-account/edit-ad/air-conditioning.svg"
                                            alt="Ícone de ar-condicionado">
                                        <label for="air-conditioning">Ar-<br>condicionado</label>
                                    </div>
                                    <div class="specification">
                                        <button><i class="fa-solid fa-minus subtract"></i></button>
                                        <input type="number" min="0" value="1" name="air-conditioning" disabled>
                                        <button><i class="fa-solid fa-plus addition"></i></button>
                                    </div>
                                </li>

                                <li class="resources">
                                    <div class="resources-flex">
                                        <img src="images/my-account/edit-ad/table.svg" alt="Ícone de mesa">
                                        <label for="table">Mesas</label>
                                    </div>
                                    <div class="specification">
                                        <button><i class="fa-solid fa-minus subtract"></i></button>
                                        <input type="number" min="0" value="1" name="table" disabled>
                                        <button><i class="fa-solid fa-plus addition"></i></button>
                                    </div>
                                </li>

                                <li class="resources">
                                    <div class="resources-flex">
                                        <img src="images/my-account/edit-ad/seats.svg" alt="Ícone de assento">
                                        <label for="seats">Assentos</label>
                                    </div>
                                    <div class="specification">
                                        <button><i class="fa-solid fa-minus subtract"></i></button>
                                        <input type="number" min="0" value="1" name="seats" disabled>
                                        <button><i class="fa-solid fa-plus addition"></i></button>
                                    </div>
                                </li>

                                <li class="resources">
                                    <div class="resources-flex">
                                        <img src="images/my-account/edit-ad/window.svg" alt="Ícone de janela">
                                        <label for="window">Janela</label>
                                    </div>
                                    <div class="specification">
                                        <button><i class="fa-solid fa-minus subtract"></i></button>
                                        <input type="number" min="0" value="1" name="window" disabled>
                                        <button><i class="fa-solid fa-plus addition"></i></button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </main>

    <footer class="container_margin_default">

        <div class="default_margin">
            <div id="margin2">
                <div id="logo">
                    <img src="images/default/logo_footer.svg" alt="logo">
                    <h4>Escritorizando <span><br>espaços </span></h4>
                    <span>Umbrella Officing&copy 2022</span>
                </div>

                <ul>
                    <h5>Junte-se a nós</h5>
                    <li><a href="/">Home</a></li>.
                    <li><a href="#">Cadastre-se</a></li>
                    <li><a href="#">Sua conta</a></li>
                    <li><a href="#">Faça sua reserva</a></li>
                    <li><a href="#">Anuncie seu espaço</a></li>
                </ul>

                <ul>
                    <h5>Atendimento</h5>
                    <li><a href="#">Chat</a></li>
                    <li><a href="#">Fórum</a></li>
                    <li><a href="#">Central de ajuda</a></li>
                </ul>

                <ul>
                    <h5>Sobre nós</h5>
                    <li><a href="#">Quem somos?</a></li>
                    <li><a href="#">Missão, valores e visão</a></li>
                    <li><a href="#">Por que Umbrella Officing</a></li>
                    <li><a href="#">Desenvolvedores</a></li>
                </ul>

            </div>
            <div id="bottom_footer">
                <div>
                    <div id="network_div">
                        <img src="images/default/icon_intagram_footer.svg" alt="ícone do instagram">
                        <img src="images/default/icon_facebook_footer.svg" alt="ícone do facebook">
                    </div>

                    <div id="scroll_up">
                        <img src="images/default/arrow_up.svg" alt="ícone de flecha">
                    </div>
                </div>

            </div>
    </footer>

    <script src="https://kit.fontawesome.com/e4e1096c30.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <script src="jquery.maskMoney.min.js" type="text/javascript"></script>
    <script src="script/default/header/header.js"></script>
    <script src="script/my-account/edit-ad.js"></script>
</body>

</html>