 :root{
    --font-primary:'Montserrat', sans-serif;
    --text-1-black: #333333;
    --text-2-black:#3E3C3C;
    --text-3-black:#7D7D7D;
    --white:#fff;
    --scale-1-gray:#F2F2F2;
    --scale-gray:#F5F5F5;
    --scale-2-gray:#EFEFEF;
    --scale-3-gray: #E8E8E8;
    --gray-border: #d1d1d1;
    --scale-1-purple:#985bdf;
    --scale-2-purple:#650c85;
    --scale-5-purple:#640c84;
    --scale-3-purple: #5B61C4;
    --scale-4-purple: #B2B0FF;
    --scale-1-blue:#0e3faf;
    --scale-2-blue:#4876da;
    --scale-3-blue:#538DFF;
    --scale-4-blue:#6482D5;
    --scale-5-blue:#5B61C4;
    --scale-6-blue:#748FE0;
    --scale-7-blue:#264082;
    --scale-8-blue:#010290;
    --scale-9-blue:#F6F5FA;
    --scale-10-blue:#0008ea;
    --scale-10-wine: #A60014;
    --scale-11-blue: #7397E3;
    --scale-12-red: #D52F2F;
    --scale-13-blue: #5B61C4;
    --scale-14-blue: #7397E3;
    --scale-15-blue: #02A7F0;
    --scale-16-blue: #4E4AFF;
    --scale-15-yellow: #FFCB46;
    --scale-16-gray: #E5E5E7;
    --gradient:linear-gradient(180deg, #81A4F3, #D16CC1);  
}

html, button, input{
    font-family: var(--font-primary);
}

.outline-focus:focus{
    background-color: #fff;
    border-color: #08bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0, 123, 255, .25);
    transition: 0.3s ease-in-out;
}

body, ul, li, nav, h1, h2, h3, h4, h5, h6, p{
    margin:0;
    padding: 0;
}

h1{
    font-weight: bolder;
}

h2, h3, h4, h5, h6{
    font-weight: 600;
}

p{
    font-weight: 500;
}

button{
    cursor: pointer;
}

.container_margin_default{
    display: flex;
    justify-content: center;
}

.default_margin{
    width: 1160px;
    margin: 0 16px;
    display: flex;
    align-items: center;
}

header{
    position: fixed;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 999;
    background: white;
    box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
    transition: padding .3s ease;
}

.header_expanded{
    padding-bottom: 80px;
}

header > div {
    justify-content: space-between;
    padding-top:20px;
    position: relative;
}

#container_search{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#type_office{
    display: none;
    list-style: none;
}

#type_office li{
    margin: 0 12px;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    color: #777;
}

.option_office::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: -6px;
    transition: all 0.3s ease;
    left: 25%;
}

.option_office:hover::after{
    background-color: var(--scale-3-blue);
    transform: scaleX(1.5);
}

#type_office .checked{
    font-weight: bolder ;
    color: #000;
}

.checked::after{
    background-color: var(--scale-3-blue);
    transform: scaleX(1.5);
}

.container_search_input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--scale-1-gray);
    width: 400px;
    position: relative;
    border-radius: 40px;
    transform: initial;
    transition: 250ms ease;
}

.container_search_input.expanded{
    width: 762px;
    position: absolute;
    transform: translateY(47px);
 } 

#search_txt{
    width: inherit;
    background: inherit;
    border: none;
    border-radius: inherit;
    font-family: var(--font-primary);
    font-size: 16.5px;
    font-weight: 500;
    color: #666;
    outline: none;
    padding-left: 19px;
}

#container_informations_find_coworking{
    display: none;
    border-radius: inherit;
}

#container_informations_find_coworking > div{
    border-radius: inherit;
}

#check_in, #localization{
    border: none;
    box-shadow: 0px 0px 6px 5px rgb(1 1 1 / 10%);
    border-radius: inherit;
}

 #localization{
    height: 58px;
    font-size: 17px;
    padding-left: 14px;
    outline-color: #5b61c4;
    margin-right: 40px;
}

#check_in{
    border: none;
    outline-color: #5b61c4;
    height: 58px;
    padding: 0 19px;
}

.container_search_input > a > div {
    display: flex;
    z-index: 99;
    padding: 9px 12px;
    background: var(--scale-2-purple);
    border-radius: 50%;
    cursor: pointer;
}

#menu{
    border-radius: 40px;
    background: var(--scale-2-purple);
    position: relative;
}

#menu_sign-in-up{
    display: flex;
    align-items: center;
    padding: 14px 16px;
    border-radius: inherit;
    cursor: pointer;
}

#menu_sign-in-up > img:nth-child(2){
    margin-left: 16px;
    
}

.menu_open{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 55px;
    width: 259px;
    padding: 20px 20px 32px 20px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 5px 6px 5px rgb(1 1 1 / 20%);
    transition: 260ms ease;
}

.menu_open_checked{
    top: 65px;
    opacity: 1;
    visibility: visible;
}

.menu_open::before{
    content: '';
    position: absolute;
    top: -11px;
    right: 28px;
    border-top: 0.5px solid rgb(0 0 0 / 10%);
    border-left: 0.5px solid rgb(0 0 0 / 10%);
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}

.menu_open > div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 62%;
}

.menu_open > div:first-child img{
    margin-right: 21px;
    width: 70px;
}

.menu_open > div:first-child h3{
    color: var(--text-2-black);
    font-size: 18px;
    font-weight: 700;
    max-width: 200px;
}

.menu_open > div:first-child span{
    display: block;
    margin-top: 2px;
    font-size: 15px;
    font-weight: normal;
    color: var(--text-3-black);
}

.menu_open > div:nth-child(2){
    margin-top: 30px;
}

.menu_open ul{
    list-style: none;
}

.menu_open ul li{
    display: flex;
    align-items: center;
    margin: 17px 0;
    color: #000;
    font-size: 15px;
}

.menu_open ul li, .menu_open > div:last-child{
    cursor: pointer;
}

.menu_open ul li, .menu_open > div:last-child{
    font-size: 14.5px;
    font-weight: 400;
}

.menu_open ul li img, .menu_open > div:last-child img{
    width: 24px;
    margin-right: 10px;
}

.menu_open > div:last-child{
    display: flex;
    align-items: center;
}

#container_popUp_login-signUp{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 9999;
    padding: 0;
}

.popUp{
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 16px;
    background: white;
    box-shadow: 0px 0px 6px 5px rgb(1 1 1 / 10%);
    padding: 54px 0 20px 0;
}

@keyframes fadeIn{
    from{
        transform: translateY(-10px);
        opacity: 0;
    }
    
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.popUpChecked{
    display: flex;
    animation:fadeIn ease .27s;
}

#container_popUp_login-signUp > div > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 50px;
    width: 285px;
}

.close_popup{
    position: absolute;
    left: 25px;
    top: 22px;
    width: 17px;
    cursor: pointer;
}

#container_popUp_login-signUp  h2{
    font-weight: bold;
}

#container_popUp_login-signUp h3{
    margin: 7px 0 18px 0;
    font-weight: 500;
}

#container_popUp_login-signUp span{
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #555;
}

#container_popUp_login-signUp form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

#container_popUp_login-signUp label{
    margin: 15px 0;
    font-size: 13px;
    font-weight: 500;
    color: #555;
    width: 100%;
}

#container_popUp_login-signUp input{
    display: block;
    border: none;
    border-bottom: 1px solid #c4c4c4;
    background: transparent;
    outline-color: #5b61c4;
    margin-top: 5px;
    width: 100%;
    font-size: 13px;
    color: #000;
}

#container_popUp_login-signUp form > div{
    width: 100%;
    flex-basis: 25px;
    text-align: right;
}

#container_popUp_login-signUp form > div a {
    color: #666666;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}

#container_popUp_login-signUp a:active{
    color: red !important;
}

#container_popUp_login-signUp form button{
    margin: 15px auto 0 auto;
    border-radius: 24px;
    border: none;
    width: 100%;
    padding: 15px 5px;
    background: var(--scale-2-purple);
    color: var(--white);
    font-size: 11.5px;
    font-weight: bold;
    letter-spacing: 1.3px;
}

#alternatives{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

#alternatives > div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    flex-basis: 50px;
}

#alternatives > div:first-child span {
    background: white;
    margin: 0;
    z-index: 99;
    text-align: center;
    width: 16%;
    font-size: 11px;
}

#alternatives > div:first-child::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: #c4c4c4;
}

#alternatives > div:last-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}

#alternatives > div:last-child img{
    margin:16px 15px;
}

#alternatives > div:last-child span{
    font-size: 13px;
}

#alternatives > div:last-child span a{
    color: var(--scale-10-blue);
    position: relative;
    left: 3px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

#box_black{
    display: none;
    position: fixed;
    inset: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 899;
}

footer{
    padding: 41px 0;
    font-family: var(--font-primary);
    background: var(--scale-1-gray);
}

footer > div {
    flex-wrap: wrap;
}

#margin2{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#logo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 365px;
}

#logo img{
    margin-right: 10px;
}


#logo span{
    font-weight: normal;
}

footer ul{
    list-style: none;
}

footer ul li{
    margin: 7px 0;
}

footer ul h5{
    font-size: 18px;
    margin: 16px 0;
}

footer a {
    color: var(--text-1-black-2);
    text-decoration: none;
    font-size: 13px;
}

#bottom_footer{
    padding-top: 35px;
    width: 100%;
}

#bottom_footer > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#network_div img{
    margin-right: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    background: var(--scale-2-purple);
}

#scroll_up img{
    padding: 10px 13px;
    width: 16px;
    height: 20px;
    background: var(--scale-2-purple);
    border-radius: 5px;
}

#container_popUp_profilePicture {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 9999;
    padding: 0;
}

.popUp_profilePicture {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 16px;
    background: white;
    box-shadow: 0px 0px 6px 5px rgb(1 1 1 / 10%);
    padding: 30px 42px 52px 42px;
}

.popUp_profilePicture h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-top: 25px;
    width: 100%;
}

.popUp_profilePicture h2~div{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 25px;
}

.popUp_profilePicture div > div i {
    font-size: 15px; 
    align-items: center;
    color: var(--gray-border);
}

.popUp_profilePicture div > div p {
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    max-width: 150px;
}

.uploadPicture,
.deletePicture {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.actionPicture {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.actionPicture img {
    width: 120px;
    margin: 0 0 25px 50px;
}

.actionPicture button {
    width: 100px;
    padding: 6px;
    border-radius: 15px;
    border: none;
    font-size: 14px;
    font-weight: 500;
}

#salve {
    background-color: var(--scale-2-purple);
    color: #fff;
}

#delete {
    background-color: var(--gray-border);
}

/* Mobile */
#search-mobile {
    width: 45px;
    height: 45px;
    background: var(--scale-2-purple);
    border-radius: 50px;
    position: fixed;
    bottom: 24px;
    z-index: 10000;
    left: 42%;
    font-size: 22px;
    text-align: center;
    color: #fff;
    padding: 12px;
    box-sizing: border-box;
}

#search-mobile::before{
    content: '';
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: lawngreen;
}

#menu-mobile {
    position: fixed;
    display: flex;
    bottom: 0;
    background: #fff;
    z-index: 9000;
    padding: 10px 0;
    width: 100%;
    box-shadow: rgb(0 0 0 / 8%) 1px 0 0;
}
 
#menu-mobile nav ul {
    display: flex; 
    width: 300px;
    justify-content: space-between;
    list-style: none;
}

#menu-mobile nav ul span {
    display: flex; 
    width: 125px;
    justify-content: space-around;
}

#menu-mobile nav .icon{
    font-size: 30px;
    border: 1px;
    color: #9f9f9f;
}

.icon-help {
    font-size: 14px; 
    color: #9f9f9f;
    width: 27px;
    height: 27px;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    border: 3px solid #9f9f9f;
    border-radius: 20px;
}

.icon-active {
    font-size: 30px;
    color: var(--scale-2-purple);
}

.icon-help focus { 
    color: #fff; 
    cursor: pointer;
    background-color: var(--scale-3-purple);
}

@media(min-width: 300px) and (max-width: 481px) {
    .default_margin {
        width: 100%;
        margin: 0 8px;
        display: flex;
        align-items: center;
    }

    #header>div a img {
        width: 80%;
    }
}
