<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style/default/default.css">
    <link rel="stylesheet" href="style/become-advertiser.css">
</head>

<body>
    <header id="header" class="container_margin_default">
        <div class="default_margin">
            <a href="/"> <img src="images/default/logo.svg" alt="logo"> </a>
        </div>
    </header>

    <div id='box_black'></div>

    <main>
<<<<<<< HEAD
        <section class="container_margin_default" id="become-advertiser_section1">
            <div class="default_margin">
                <!-- <img id="section1_bg" src="images/become-advertiser/bg-section1.png" alt=""> -->
                <div >
                    <h1>Experimente anunciar um espaço para trabalho. É simples!</h1>
                    <div id="start-now_div">
=======
        <section id="become-advertiser_section1">
            <img id="section1_bg" src="images/become-advertiser/bg-section1.png" alt="">

            <div class="default_margin" class="container_margin_default">
                <div class="become-advertiser_section1-announce">
                    <h1>Experimente anunciar<br> um espaço para trabalho. <br> É simples!</h1>
                    <div>
>>>>>>> f7b31185202c8a32a3f13ccc47efffb1cb243743
                        <h2 id="announce">Anuncie seu officing</h2>
                        <button id="start-now">Começar agora</button>
                    </div>
                </div>
            </div>
<<<<<<< HEAD
=======

>>>>>>> f7b31185202c8a32a3f13ccc47efffb1cb243743
        </section>

        <section class="container_margin_default" id="become-advertiser_section2">
            <div class="default_margin">
                <div>
                    <h2>Se una à comunidade. <br> Nós unimos a comunidade a você.</h2>
                    <p>Confira alguns clientes próximos a sua localização</p>
                    <div class="container_search-localization">
                        <input id="search-localization_txt" placeholder="Ou digite seu endereço"></input>
                        <div>
                            <img src="images/default/search.svg" alt="Pesquisa">
                        </div>
                    </div>
                </div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29559.980312021034!2d-43.603143443787175!3d-22.164165720622375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x98d913ebf99553%3A0xa4247e08942606a9!2sRio%20das%20Flores%2C%20RJ%2C%2027660-000!5e0!3m2!1spt-BR!2sbr!4v1661111619523!5m2!1spt-BR!2sbr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>

        <section class="container_margin_default" id="become-advertiser_section3">
            <div class="default_margin">
                <div id="bg_sec3">
                </div>
                <div>
                    <h2>Entenda o que você pode anunciar</h2>
                    <div id="section3-slide">
                        <img id="adaptable-icon" src="images/become-advertiser/adaptable-icon.png" alt="">
                        <p>Espaços informais ou adaptáveis</p>

                        <ul>
                            <li>
                                <img class="check" id="check1" src="images/become-advertiser/ok.png" alt="Check">
                                Confira espaço e recursos para trabalhadores que necessitam
                            </li>

                            <li>
                                <img class="check" id="check1" src="images/become-advertiser/ok.png" alt="Check">
                                Abra as portas para uma nova fonte de renda
                            </li>

                            <li>
                                <img class="check" id="check1" src="images/become-advertiser/ok.png" alt="Check">
                                Adapte um espaço desocupado em uma sala de trabalho
                            </li>

                            <li>
                                <img class="check" id="check1" src="images/become-advertiser/ok.png" alt="Check">
                                Conheça novos profissionais, amplie sua rede de contatos
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="container_margin_default" id="become-advertiser_section4">
            <div class="default_margin">
                <div>
                    <div id="contrast"></div>
                    <h2>Faça parte da <strong id="our">nossa</strong> comunidade <strong id="today">hoje</strong> mesmo!
                    </h2>
                    <button id="button_section4">Eu quero fazer parte</button>
                </div>
            </div>
        </section>

    </main>

    <footer class="container_margin_default">

        <div class="default_margin">
            <div id="margin2">
            <div id="logo">
                <img src="images/default/logo_footer.svg" alt="logo">
                <h4>Escritorizando <span><br>espaços </span></h4>
                <span>Umbrella Officing&copy 2022</span>
            </div>

            <ul>
                <h5>Junte-se a nós</h5>
                <li><a href="/">Home</a></li>
                <li><a href="#">Cadastre-se</a></li>
                <li><a href="#">Sua conta</a></li>
                <li><a href="#">Faça sua reserva</a></li>
                <li><a href="#">Anuncie seu espaço</a></li>
            </ul>

            <ul>
                <h5>Atendimento</h5>
                <li><a href="#">Chat</a></li>
                <li><a href="#">Fórum</a></li>
                <li><a href="#">Central de ajuda</a></li>
            </ul>

            <ul>
                <h5>Sobre nós</h5>
                <li><a href="#">Quem somos?</a></li>
                <li><a href="#">Missão, valores e visão</a></li>
                <li><a href="#">Por que Umbrella Officing</a></li>
                <li><a href="#">Desenvolvedores</a></li>
            </ul>

            </div>
            <div id="bottom_footer">
                <div>
                    <div id="network_div"> 
                        <img src="images/default/icon_intagram_footer.svg" alt="ícone do instagram">
                        <img src="images/default/icon_facebook_footer.svg" alt="ícone do facebook">
                    </div>

                    <div id="scroll_up">
                        <img src="images/default/arrow_up.svg" alt="ícone de flecha">
                    </div>
            </div>

        </div>
    </footer>


</body>

</html>