@media(min-width: 300px) and (max-width: 480px){
    header > div > a{
        padding: 5px;
    }

    header > div > a img{
        width: 100px;
        height: 46px;
    }

    header > div a img{
        width: 100%;
    }

    main #become-advertiser_section1 > div > div{
        flex-direction: column;
        align-items: center;
    }

    main #become-advertiser_section1 h1{
        font-size: 22px;
        line-height: 36px;
        text-align: center;
    }

    main #cta-div{
        padding: 24px 26px;
        margin: 20px 0 0 0;
    }

    main #cta-div h3{
        font-size: 20px;
        margin-bottom: 14px;
    }

    main #cta-div button{
        font-size: 15px;
        padding: 8px 32px;
    }

    #become-advertiser_section2 > div{
        flex-direction: column;
    }

    main #become-advertiser_section2 > div > :first-child{
        max-width: 1000px;
        width: 100%;
        display: flex;
        margin: 0;
    }

    main #become-advertiser_section2 > div > div > h2{
        font-size: 20px;
        text-align: center;
    }

    main #become-advertiser_section2 > div > div > p{
        text-align: center;
        margin: 25px 0 0 0;
        font-size: 16px;
    }

    main .container_search-localization{
        align-self: center;
        bottom: -100px;
        max-width: 530px;
        background-color: #fff;
        height: 42px;
    }

    main iframe{
        width: 100%;
    }

    #become-advertiser_section3:before{
        display: none;
    }

    main #become-advertiser_section3 h2{
        width: 100vw;
        font-size: 26px;
        padding: 13px 0;
        text-align: center;
        background-color: var(--scale-3-blue);
        max-width: none;
    }

    main #become-advertiser_section3 span{
        position: relative;
        top: 18px;
        width: 100%;    
        padding: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    main #section3-slide{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 60px;
        width: 100%;
        align-items: center;
        padding: 20px 0 20px 0;
    }

    main #section3-slide > div > ul li{
        font-size: 18px;
        max-width: 290px;
    }

    main #section3-slide > div > ul:nth-child(3){
        max-width: 210px;
    }

    main .slide{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: fit-content;
        width: 80%;
        justify-content: space-between;
    }

    main .slide ul{
        width: fit-content;
        max-height: 700px;
    }

    .align-slideTitle{
        display: flex;
        align-items: center;
    }

    main .bx{
        font-size: 60px;
        margin-right: 10px;
    }

    main #section3-slide h3{
        max-width: 170px;
        font-size: 22px;
    }

    main #become-advertiser_section3 > div > div{
        flex-direction: column;
    }

    main #become-advertiser_section3 > div > :nth-child(2) {
        flex-direction: column;
        height: fit-content;
    }

    main #step-indication{
        margin: 0;
    }

    main #become-advertiser_section4 > div > div{
        margin: 0;
    }

    main #become-advertiser_section4 h2{
        max-width: 550px;
        font-size: 28px;
    }

    main #button_section4{
        width: 250px;
        height: 45px;
        font-size: 18px;
    }

}

@media(min-width: 481px) and (max-width: 860px){
    header > div > a{
        padding: 9px 12px;
    }

    header > div > a img{
        width: 100px;
        height: 46px;
    }

    header > div a img{
        width: 100%;
    }

    main #become-advertiser_section1 > div > div{
        align-items: center;
        flex-direction: column;
    }

    main #become-advertiser_section1 h1{
        font-size: 28px;
        text-align: center;
    }

    main #cta-div{
        padding: 26px;
        margin: 20px 0 0 0;
    }

    main #cta-div h3{
        font-size: 22px;
        margin-bottom: 14px;
    }

    main #cta-div button{
        font-size: 15px;
        padding: 8px 32px;
    }

    #become-advertiser_section2 > div{
        flex-direction: column;
    }

    main #become-advertiser_section2 > div > :first-child{
        max-width: 1000px;
        width: 100%;
        display: flex;
    }

    main #become-advertiser_section2 > div > div > h2{
        font-size: 25px;
        text-align: center;
    }

    main #become-advertiser_section2 > div > div > p{
        text-align: center;
        margin: 25px 0 0 0;
    }

    main .container_search-localization{
        align-self: center;
        bottom: -100px;
        max-width: 530px;
        background-color: #fff;
        height: 42px;
    }

    main iframe{
        width: 100%;
    }

    #become-advertiser_section3:before{
        display: none;
    }

    main #become-advertiser_section3 h2{
        position: relative;
        top: 18px;
        left: 0;
        width: 100%;
        max-width: none;
        background-color: var(--scale-3-blue);
        padding: 15px;
        text-align: center;
    }

    main #section3-slide{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 60px;
        width: 100%;
        align-items: center;
        padding: 40px 0 40px 0;
    }

    main #section3-slide > div > ul li{
        font-size: 18px;
        max-width: 290px;
    }

    main .slide{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: fit-content;
        width: 80%;
        justify-content: space-between;
    }

    main .slide ul{
        width: fit-content;
        max-height: 700px;
    }

    .align-slideTitle{
        display: flex;
        align-items: center;
    }

    main .bx{
        font-size: 60px;
        margin-right: 10px;
    }

    main #section3-slide h3{
        max-width: 170px;
        font-size: 22px;
    }

    main #become-advertiser_section3 > div > div{
        flex-direction: column;
    }

    main #become-advertiser_section3 > div > :nth-child(2) {
        flex-direction: column;
        height: fit-content;
    }

    main #step-indication{
        margin: 0 100px 0 0;
        align-self: flex-end;
    }

    #become-advertiser_section4 > div > div{
        margin-top: 0;
    }

    main #become-advertiser_section4 h2{
        max-width: 550px;
        font-size: 28px;
    }

    main #button_section4{
        width: 250px;
        height: 45px;
        font-size: 18px;
    }

}

@media(min-width: 861px) and (max-width: 1060px){
    main #become-advertiser_section3 h2{
        font-size: 28px;
        max-width: 310px;
    }

    main #become-advertiser_section3:before{
        width: 45%
    }

    main #section3-slide > div > ul{
        max-height: none;
    }

    main #section3-slide > div > ul li{ 
        max-width: 290px;
    }

    main #section3-slide ul:nth-child(3){
        max-width: 210px;
    }

    main .slide{
        position: relative;
        left: 20%;
        width: fit-content;
    }
}

#header{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    position: absolute;
}

#header > div > a img {
    width: 130px;
    height: 60px;
}

#header > div > a {
    background-color: white;
    border-radius: 45px;
    padding: 14px;
}

#become-advertiser_section1 > div:first-child{
    display: flex;
    justify-content: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 491px;
    max-height: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
}

#become-advertiser_section1 > div:first-child::after{
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#become-advertiser_section1 > div:first-child > img{
    position: absolute;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

#become-advertiser_section1 h1{
    color: #fff;
    font-size: 35px;
    max-width: 475px;
    font-weight: 500;
    line-height: 50px;
}

#cta-div{
    background-color: #fff;
    padding: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-left: auto;
}

#cta-div h3{
    color: var(--text-1-black);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 18px;
}

#cta-div button{
    background-color: var(--scale-2-purple);
    border-radius: 20px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 35px;    
}

#become-advertiser_section1 > div > div{
    z-index: 99;
    color: white;
}

#become-advertiser_section2{
    padding: 78px 0;
}

#become-advertiser_section2 > div{
    justify-content: space-between;
}

#become-advertiser_section2 > div > :first-child{
    flex-direction: column;
    max-width: 450px;
    margin-right: 20px;
}

#become-advertiser_section2 h2{
    font-weight: 800;
    font-size: 28px;
}

#become-advertiser_section2 > div > div > p{
    font-size: 22px;
    font-weight: 500;
    margin: 25px 0 35px 0;
}


.container_search-localization {
    display: flex;
    align-items: center;
    border: 1px solid var(--gray-border);
    max-width: 440px;
    width: 100%;
    position: relative;
    border-radius: 38px;
    height: 38px;
    transform: initial;
    transition: 250ms ease;
}

#search-localization_txt {
    width: inherit;
    background: inherit;
    border: none;
    border-radius: inherit;
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    color: #666;
    outline: none;
    padding-left: 20px;
}

.container_search-localization div {
    display: flex;
    padding: 9px 12px;
    background-color: var(--scale-2-purple);
    border-radius: 50%;
    cursor: pointer;
}


iframe{
    border: 1px solid;
    border-radius: 7px;
    width: 50%;
}

#become-advertiser_section3{
    position: relative;
    border-right: none;
}

#become-advertiser_section3:before{
    content: '';
    background-color: var(--scale-3-blue);
    position: absolute;
    z-index: -1;
    left: 0;
    width: 48%;
    height: 100%;
}

/* #bg_sec3{
    background-color: var(--scale-3-blue);
    position: absolute;
    z-index: -1;
    left: 0;
    width: 48%;
    height: 100%;
} */

#become-advertiser_section3 > div > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#become-advertiser_section3 > div > :nth-child(2){
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0;
}

#become-advertiser_section3 h2{
    color: var(--white);
    font-size: 30px;
    font-weight: 700;
    max-width: 340px;
}

#section3-slide{
    position: relative;
    width: 500px;
    right: 0;
}

.bx{
    color: var(--scale-3-blue);
    font-size: 40px;
}

#step-indication{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
}

#step-indication > span{
    font-size: 16px;
    font-weight: 800;
    color: var(--scale-3-blue);
}

#align-balls{
    display: flex;
    width: 35px;
    justify-content: space-between;
    margin-top: 3px;
}

.slide-ball{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--scale-3-blue);
    border: 2px solid var(--scale-3-blue);
}

.slide-ball:nth-child(2){
    background-color: #fff;
}

#section3-slide h3{
    font-weight: 700;
    font-size: 18px;
    max-width: 225px;
    color: var(--scale-3-blue);
}

#slide-step1{
    display: none;
}

.check{
    width: 11px;
    height: 11px;
    position: absolute;
    top: 4px;
    left: 0;
}

.slide ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 110px;
    margin-top: 15px;
}

#section3-slide > div > ul > div{
    display: flex;
    width: 500px;
}

#section3-slide > div > ul li{
    max-width: 235px;
    font-size: 14px;
    margin-bottom: 10px;
    position: relative;
    padding-left: 18px;
}

#become-advertiser_section4{
    padding: 100px 0;
}

#become-advertiser_section4 > div{
    display: flex;
    justify-content: center;
}

#become-advertiser_section4 > div > div{
    width: 90%;
    height: 450px; 
    background-image: url("../images/become-advertiser/community-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

#become-advertiser_section4 h2{
    text-align: center;
    max-width: 750px;
    font-size: 40px;
    color: #Fff;
    /* color: var(--white); */
        
}

#our{
    font-weight: 800;
    color: var(--scale-3-blue);
}

#today{
    font-weight: bolder;
}

#become-advertiser_section4 > div > div {
    border-radius: 40px;
    border: 0;
    color: var(--white);
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
}

#button_section4{
    width: 275px;
    height: 55px;
    background-color: var(--scale-2-purple);
    border-radius: 40px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border: none;
    margin-top: 30px;
}

#contrast{
    background-color: rgba(0,0,0, 0.3);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    z-index: -1;
}
