*{
    color: var(--text-1-black)
}

#help-center_section1{
    padding-top: 200px;
}

#help-center_section1 > div{
    justify-content: center;
}

#help-center_section1 > div > div{
    display: flex;
    flex-direction: column;
}

#help-center_section1 > div > div > h1{
    font-size: 40px;
    text-align: center;
    color: #333333;
} 

.container_search-help {
    margin-top: 30px;
    display: flex;
    align-items: center;
    border: 1px solid var(--gray-border);
    position: relative;
    border-radius: 38px;
    height: 50px;
    transform: initial;
    transition: 250ms ease;
    cursor: pointer;
    padding: 10px;
    justify-content: space-between;
    box-sizing: border-box;
}

#search-help_txt {
    width: inherit;
    background: inherit;
    border: none;
    border-radius: inherit;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    color: #666;
    outline: none;
    padding-left: 20px;
}

.container_search-help p {
    font-weight: 600;
    color: var(--scale-2-purple);
    padding-right: 20px;
}


#become-advertiser_section2{
    padding-bottom: 40px;
}

#become-advertiser_section2 > div{
    display: flex;
    flex-direction: column;
}

#align-options{
    border-bottom: 1px solid var(--gray-border);
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    margin-top: 60px;
    position: relative;     
}

#align-options > button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    color: #555555;
}

#align-options > button:focus{
    outline: none;
    color: var(--scale-5-blue);
}

#align-options:after{
    content: '';
    width: 50%;
    height: 2px;
    background-color: var(--scale-5-blue);
    position: absolute;
    bottom: 0;
    left: 0;
}

#align-list{
    display: flex;
    padding: 30px 0 30px 0;
}

#align-list > ol{
    list-style: none;
    width: 345px;
    margin: 0;
}

#align-list > ol > li{
    border: 1px solid var(--gray-border);
    width: 90%;
    padding: 16px 0 16px 25px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    margin: 15px 0;
}

#become-advertiser_section3{
    background-color: var(--scale-1-gray);
    padding: 50px 0;
}

#become-advertiser_section3 > div{
    flex-direction: column;
    align-items: initial;
}

#become-advertiser_section3 > div > h2{
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 30px;
}

#align-mainArticles{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#align-mainArticles > div{
    background-color: var(--white); 
    height: 350px;
    border-radius: 10px;
}

#align-mainArticles > div > img{
    border-radius: 10px 10px 0 0;
    width: 254px;
    height: 234px;
}

#align-mainArticles > div > h3{
    font-size: 16px;
    margin: 26px 0 0 16px;
}

#become-advertiser_section4{
    padding: 105px 0;
}

#become-advertiser_section4 > div{
    flex-direction: column;
    align-items: initial;
}

#become-advertiser_section4 > div > :nth-child(2){
    border-bottom: 1px solid var(--gray-border);
    padding-bottom: 38px;
}

#become-advertiser_section4 > div > :nth-child(3){
    margin-top: 38px;
}

#become-advertiser_section4 > div > ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

#become-advertiser_section4 > div > ul > li{
    max-width: 350px;
    font-size: 15px;
    /* background-color: blue; */
}

#become-advertiser_section4 > div > ul > li > h3{
    font-size: 18px;
    margin-bottom: 8px;
}

#become-advertiser_section4 > div > h2{
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 40px;
}

@media(min-width: 300px) and (max-width: 480px){
    #container_search, 
    #menu {
        display: none;
    }  

    #help-center_section1 {
        padding-top: 130px;
    }

    #help-center_section1 > div > div > h1 {
        font-size: 25px;
        color: #333333;
    }

    .container_search-help {
        padding: 0;
    }

    .container_search-help p {
        font-size: 14px;
        padding-right: 15px;
    }

    #search-help_txt {
        font-size: 14px;
        padding-left: 15px;
    }

    #align-options { 
        width: 100%; 
    }

    #align-options > button { 
        width: 40%;
        font-size: 18px; 
    }

    #become-advertiser_section3 {
        display: none;
    }

    #become-advertiser_section4 {
        display: none;
    }

    footer h5,
    footer ul li,
    #scroll_up {
        display: none;
    } 
}

@media(min-width: 481px) and (max-width: 841px)  { 
    #header>div a img {
        width: 80%;
    }

    #container_search, 
    #menu {
        display: none;
    }  

    #my-account-sidebar_mobile {
        display: block;
    }

    #help-center_section1 {
        padding-top: 130px;
    }

    #help-center_section1 > div > div > h1 {
        font-size: 30px;
        color: #333333;
    }

    .container_search-help {
        padding: 0;
    }

    .container_search-help p {
        font-size: 14px;
        padding-right: 15px;
    }

    #search-help_txt {
        font-size: 14px;
        padding-left: 15px;
    }



    footer h5,
    footer ul li,
    #scroll_up {
        display: none;
    } 

} 

@media(min-width: 841px) and (max-width: 1000px) { 

    #logo { 
        max-width: 275px;
    }

    footer ul h5 {
        font-size: 17px; 
    }

    /*Pop up - Deletar espaço*/
    .popUp_delete { 
        width: 766px; 
    }
}