<div class="container_menu_open">
    <div class="menu_open">
        <div>
            <div class="picture_edit">
                <div id="mask_image_profile">
                    <img class="image_profile" src="images/default/perfil.png" alt="Foto de perfil">
                </div>   
                <i class="fa-solid fa-pen pictureProfile list"></i>
            </div>
            <div id="user_informations">
                <h3>Usuários</h3>
                <span>Cliente</span>
            </div>
        </div>
        <div>
            <nav>
                <ul>
                    <li class="popUp-login-signUp list">
                        <div class="login icon">
                            <i class='bx bx-user'></i>
                            <i class='bx bx-plus'></i>
                        </div>
                        Login
                    </li>
                    <li class="list popUp-login-signUp">
                        <i class="bx bx-user icon"></i>
                        Cadastre-se
                    </li>

                </ul>
            </nav>
        </div>
        <div>
            <a href="/central-de-ajuda"><i class="bx bx-info-circle icon"></i>
                Central de ajuda</a>
        </div>
    </div>
</div>